[2016-10-24 20:19] cs-studio03 opened #1 "AndroidStringObfuscator.getString(this, R.string.app_name) does not give decrypted string, it gives me encrypted string"
Kindly help me i need this urgent

[2016-10-24 20:39] efraespada commented on #1
It means you are using a wrong fingerprint.
Look at gradle code:

[code]

You must replace **sha1** with your app's SHA1 fingerprint. You can get it easyly with:

[code]

Note the difference between release and debug fingerprint.

[2016-10-24 20:54] cs-studio03 commented on #1
i have replace SHA1_fingerprint_DEBUG with my app debug finger print which is XX:XX:XX:XX:XX:XX:BF:51:1C:55:65:4F:AC:FE:A0:C1:88:BA:4F but still its giving encrypted strings, do i need to replace SHA1_fingerprint_RELEASE as well even in debugging mode?

[2016-10-24 21:15] cs-studio03 commented on #1
i am getting this instead of decrypted string: AA209D14633ADDEBF410A1EF9C872FA2246D9D92A4724404989A8919A2F894DDE1B78782DB7D9CB9700E64035DE8EFFF9B8DFDF9278A5F386C698285476CB54E6038C86ECDB7590DC28FEDDC67F310F1B3108914DF0854F898E63E566177D8D1

now i have replace debug finger print with my app's one, any help plz?

[2016-10-24 21:24] efraespada commented on #1
Check your **Build Variant** config on your module, maybe it's on release mode.
I think **XX:XX:XX:XX:XX:XX:BF:51:1C:55:65:4F:AC:FE:A0:C1:88:BA:4F** is a release fingerprint

[2016-10-24 21:30] cs-studio03 commented on #1
yes that was the issue, now its working fine, thank you very much brother. one last question can someone can get my strings value by decompiling my apk file even after applying this encryption?

[2016-10-24 21:44] efraespada commented on #1
Your strings are visible (but encrypted). No one can decrypt it.
Maybe someone could modify and recompile your APK, but in this process a new fingerprint is used.

Now you should change your release fingerprint ;)

[2016-10-24 21:48] #1 closed, assigned to nobody

[2016-10-24 21:50] cs-studio03 commented on #1
ok thank you again, it was really helpful

[2017-08-31 08:33] thaindq opened #9 "Can't get it to work"
What should I put in variant parameter? I tried the following but it doesn't seem to work.
[code]

Gradle console output
[code]
No string is encrypted (string resources). I also tried your sample app but it didn't work either

![](http://i.imgur.com/PS1xBdU.png)

[2017-08-31 15:34] efraespada commented on #9
@thaindq I don't understand why you are setting mannually `project.name` and `variant.dirName` variables.

[code]
Seeing your Gradle output console, I think the script (JAR) is not detecting your current `BuildVariant` (`productFlavors` plus `buildTypes`).
JAR script is looking for `debug` buildVariant. Have you define some `productFlavors`?
[code]
If there is no productFlavor, remove `../` from v

[2017-08-31 18:56] thaindq commented on #9
Hi, I had to set it manually, otherwise it couldn't detect the variant
[code]
or
[code]
both gave me
[code]
I don't have any productFlavors, just buildTypes
Looking into your [code](https://github.com/efraespada/AndroidStringObfuscator/blob/master/obfuscator-script/src/main/Core.java#L54), it seems like the variant is detected by `/`, that's why I tried to prepend `../`

[2017-09-03 03:09] efraespada commented on #9
There was a bug. Compilations with no `productFlavors` where not working. Update [AndroidStringObfuscator.jar](https://github.com/efraespada/AndroidStringObfuscator/raw/master/AndroidStringObfuscator.jar) to latest version.

[2017-09-03 03:11] #9 closed, assigned to nobody

[2017-09-03 23:18] thaindq commented on #9
Thank you, it's working now.

[2017-10-27 07:23] efraespada opened #11 "java.lang.ArrayIndexOutOfBoundsException on Gradle 4.1"
[code]

[2017-10-30 08:08] efraespada opened #12 "Hidden tag not detected at compilation time. Gradle 4.1"
[code]
[code]

[2017-11-29 14:48] SandroMachado commented on #11
@efraespada any updates?

[2017-11-29 15:44] efraespada commented on #11
@SandroMachado by the moment it only works with Gradle versions up to `3.1`. I could fix the `intermediates` folder detection but for some reason obfuscated strings aren't being introduced on the compiled APK.

I still working on a solution.

[2017-12-09 16:32] efraespada commented on #11
New plugin integration available on [README.md](https://github.com/efraespada/AndroidStringObfuscator/blob/master/README.md)

[2017-12-09 16:32] #11 closed, assigned to efraespada

[2017-12-09 16:33] efraespada commented on #12
New plugin integration available on [README.md](https://github.com/efraespada/AndroidStringObfuscator/blob/master/README.md)

[2017-12-09 16:33] #12 closed, assigned to efraespada

[2017-12-10 00:11] d-moreira opened #15 "Strings are not obfuscated on build time"
Hello,

I'm following https://github.com/efraespada/AndroidStringObfuscator/blob/master/README.md#gradle-implementation but the string resources are no longer obfuscated during build time (everything was working fine with these instructions https://github.com/efraespada/AndroidStringObfuscator/blob/3451745f18fdc97ca58b271d238eef60511b348b/README.md).

My `root_project/build.gradle` looks like:

[c

[2017-12-10 03:04] efraespada commented on #15
@d-moreira the new plugin replaces the `JAR`file. It should find in `res` folder every `strings.xml` file and encrypt every string value with `hidden` attribute as `true`.

What is printing your Gradle console?

[2017-12-10 17:08] d-moreira commented on #15
Ok, it's working now :) I was trying to obfuscate some strings on a `res/values/secrets.xml` file, which worked previously.

So the plugin only looks for strings on `strings.xml` files? Can you consider extending the functionality to look for string resources on any `.xml` file under `res/values` at least? And also update the documentation to reflect this limitation.

Thanks!

[2017-12-10 21:24] efraespada commented on #15
I was thinking something like this on module's `build.gradle`:
[code]
Of course, I'll update the documentation. Thanks for your patient.

[2017-12-10 21:24] #15 closed, assigned to nobody

[2017-12-10 23:03] d-moreira commented on #15
That would be even better. Thank you!

[2017-12-11 03:34] efraespada commented on #15
@d-moreira hope it helps you! [v.0.5.0](https://github.com/efraespada/AndroidStringObfuscator/releases/tag/v0.5.0).

[2017-12-11 14:26] d-moreira commented on #15
Tested and working!

Thanks for your work :)

[2017-12-15 15:36] d-moreira opened #17 "Source folder not found when encrypting string resources"
Hello,

I have a project setup to run and encrypt string resources located on a file `root_project/module_name/src/main/res/values/secrets.xml`. This works perfectly with:

a `root_project/build.gradle` that looks like
[code]

and a `root_project/app/build.gradle` that looks like:

[code]

But in another machine, when running the same project, it seems that the plugin is not able to find the path

[2017-12-15 18:15] efraespada commented on #17
@d-moreira it should work in different OS. Could you find the `res` folder on your project?

[2017-12-15 21:29] d-moreira commented on #17
Hi @efraespada,

yes I can. The project is version controlled here on GitHub so the code is exactly the same on both machines. I'm thinking this issue may be related with some sort of setting, or something that is affecting the way the plugin finds the paths to the files... Do you have any idea?

On the same machine, on version `0.4.1`, I couldn't use the plugin either. There was some error
when t

[2017-12-16 17:55] efraespada commented on #17
@d-moreira could it be a problem with `Java`? Type `java -version` on terminal, are you getting anything like this?
[code]

If it is not a Java problem, run this:
[code]
Tell me what you receive.

[2017-12-19 11:56] d-moreira commented on #17
These are the logs on a machine with the problem and on a machine where everything is working.

[failure.txt](https://github.com/StringCare/AndroidLibrary/files/1571552/failure.txt)
[success.txt](https://github.com/StringCare/AndroidLibrary/files/1571553/success.txt)

[2017-12-19 15:53] efraespada opened #18 "Error parsing commented string resource with hidden attribute"
[code]

Commented lines produces the following compilation error:
[code]

I'll fix it but for now remove `hidden`attribute on commented lines.

[2017-12-19 16:08] efraespada commented on #17
@d-moreira I can't see the problem 😅
Don't worry. I'll build a new version with a `debug` flag to print everything related with resources folder. Thanks for your patient.

[2017-12-22 18:01] rexi1r opened #19 "Error:(2, 0) Could not get unknown property 'com' for root project 'AndroidLibrary' of type org.gradle.api.Project"
i got this error
Error:(2, 0) Could not get unknown property 'com' for root project 'AndroidLibrary' of type org.gradle.api.Project.

[2017-12-22 19:20] efraespada commented on #19
@rexi1r can you give more information? Protect settings, environment..

[2017-12-23 12:34] rexi1r commented on #19
@efraespada what do you mean about protect settings??
i used windows 10 64bit
i got this error at this line:

  **apply plugin: com.stringcare.SCPlugin**

[code]

[2018-01-02 10:26] d-moreira commented on #17
Hello @efraespada, any news on this?

[2018-01-04 07:14] efraespada commented on #17
Happy new year @d-moreira, last weeks I was on other project, so this was stopped but I kept it in mind. Did you try to clone the repo and open it with Android Studio?

[2018-01-04 07:28] efraespada commented on #19
@rexi1r, did you forget to add this line? `classpath "com.stringcare:plugin:$stringcare_version"`
[code]
Try to compile it.
Then, apply plugin:

[code]

[2018-01-07 10:50] rexi1r opened #20 "* What went wrong: 1"
'C:\sdk\sdk\sdk\build-tools\android-4.3' (Expected 'C:\sdk\sdk\sdk\build-tools\18.1.0')
XML document structures must start and end within the same entity.:
org.xml.sax.SAXParseException; lineNumber: 1; columnNumber: 468; XML document structures must start and end within the same entity.

FAILURE: Build completed with 2 failures.

1: Task failed with an exception.
-----------
* What went wrong:
1

[2018-01-09 19:25] rexi1r commented on #19
@efraespada my config, It's like this.is this wrong??

**gradle-wrapper.properties**

[code]

**//root_folder/build.gradle**
[code]
**// root_project/your_module/build.gradle**

[code]

[2018-01-09 19:37] rexi1r commented on #19
@efraespada and after your config i got the error #20

[2018-01-17 10:22] sumitgohil opened #21 "Not Working with Signed Apk"
This works like a charm when testing on local environment. When I generated Signed apk, the Strings does not get decrypted.

[2018-01-19 08:18] efraespada commented on #21
@sumitgohil it seems that your `release` fingerprint hasn't been detected.
When you compile your project (or building your signed APK) the Gradle console should show something like this:
[code]

This would be the fingerprint for `myCustomReleaseVariant` buildVariant:
`B8:DC:47:58:9B:5F:2C:22:45:C4:04:37:0E:56:54:DC:24:7B:2C:66`

Could you confirm me your release variant is being detected?

PD: don

[2018-01-19 08:23] sumitgohil commented on #21
Yes, it is being detected. I get the same expected output as this.

[code]

[2018-01-19 08:33] efraespada commented on #21
@sumitgohil Is your project using few origins for resources. i.e:
`app/src/main/res/` -> common resources folder
`app/src/release/res/` -> release resources folder
`app/src/develop/res/` -> debug/develop resources folder

[2018-01-19 08:37] sumitgohil commented on #21
Nope, there's just one in general.

[2018-01-19 08:47] efraespada commented on #21
Thank you @sumitgohil. This night I'll try to finish a new version with some bugfixes, but I'll check it with a signed APK.

Thanks for your patient. 🙏🏼

[2018-01-19 08:48] sumitgohil commented on #21
@efraespada  Thank you so much. Keep up the good work.

[2018-01-21 00:08] k4dima commented on #21
@sumitgohil @efraespada Close and open Android Studio (all windows). It switches encryption key in plugin to currently selected variant.

[2018-01-21 09:02] sumitgohil commented on #21
@k4dima  it's still not working for me.

[2018-01-21 09:08] sumitgohil commented on #21
@k4dima  @efraespada

This is the console output when I generate signed APK.

[code]

[2018-01-21 09:57] k4dima commented on #21
@sumitgohil select release in build variants. Then restart.

[2018-01-21 10:09] sumitgohil commented on #21
@k4dima  It's still the same. No Changes.

In case you wish to have a look on these files.

# **Project Level Build File ---**

[code]

# **Module Level Build File**
[code]

[2018-01-21 17:17] efraespada commented on #21
Plugin could be getting a wrong fingerprint. @sumitgohil could you verify it? Run this on the root folder:
[code]
Checkout your buildVariant, `release` in your case:
[code]

[2018-01-21 20:06] k4dima commented on #21
@sumitgohil what is your java version? 9 is not working.

[2018-01-21 20:30] efraespada commented on #21
@sumitgohil @k4dima I just released a new version, [ `0.3`](https://github.com/StringCare/AndroidLibrary/releases/tag/v0.3). 🤞🏼
Note now for apply plugin you must use:
[code]
Readme is updated.

[2018-01-21 20:33] efraespada commented on #19
@rexi1r I just released a new version, [ `0.3`](https://github.com/StringCare/AndroidLibrary/releases/tag/v0.3). 🤞🏼
Note now for apply plugin you must use:
[code]
Readme is updated.

[2018-01-21 20:34] efraespada commented on #17
@d-moreira I just released a new version, [ `0.3`](https://github.com/StringCare/AndroidLibrary/releases/tag/v0.3). 🤞🏼
Note now for apply plugin you must use:
[code]
Readme is updated.

[2018-01-22 07:38] sumitgohil commented on #21
@efraespada

I Got this output. I dont know I'm always getting variant as debug even after changing the build variant. I'm sorry, I'm a little noob here.

[code]

[2018-01-22 07:40] sumitgohil commented on #21
@efraespada I tried with Latest Android studio i.e 3.0.1 with a fresh project and it works fine. I'm getting issue  Studio 2.3.3.

Also, @k4dima  It works fine with Java 9 with latest released library.

[2018-01-22 08:36] efraespada commented on #21
With your console output it seems `release` config is not defined yet, @sumitgohil. Only `debug` is defined.

Latest release works works on your PC (with any Android Studio version)?

Tonight I'll release another version for making plugin notify when config is not defined on current BuildVariant.

[2018-01-22 08:38] sumitgohil commented on #21
@efraespada
I tried on another PC with latest Android Studio i.e 3.0.1 . It worked fine.

 Can you tell me how to define release config.

Also, once the release config is defined. Will it work fine as expected?

[2018-01-22 09:02] efraespada commented on #21
@sumitgohil yesterday I made few tests and it worked as expected (with all build variants configured) so it shouldn't give you any error. Once the `release`variant is configured, I hope it'll work 😅

About how to configure `release` variant, check out this [link](https://developer.android.com/studio/build/build-variants.html) and read _**Configure Signing Settings**_:
[code]
Try to configure it an

[2018-01-22 09:04] sumitgohil commented on #21
@efraespada
Should I update my Android Studio to greater version and my Java to version 9?

[2018-01-22 10:26] efraespada commented on #21
@sumitgohil plugin (for compilation time) and library (for runtime) should always work on any version, but I recommend you to use always the latest stable version of Android Studio (3.0.1) and Gradle (so important, 4.4.1).

Check [here](https://gradle.org/releases/) all releases.

Gradle can be used globally by installing it on your computer, but the best option is Gradle Wrapper.
Gradle Wrapper i

[2018-01-22 10:57] sumitgohil commented on #21
@efraespada , @k4dima  Thank you so much you support.

As this Library is working fine on my another PC, there must be some issue with this one I suppose.  Thus,  you may close the issue.

Thank you again @efraespada

[2018-01-23 10:52] d-moreira commented on #17
Hi @efraespada,

sorry for the delayed reply but I have limited access to the machine with problems. I tested the new release and it is still not working.

I run a build with `debug=true` and the only useful info that I can see is that it is not finding the folder with the strings:

[code]

Any idea on what's happening and how to fix it?

[2018-01-23 11:42] rexi1r commented on #19
@efraespada i got the below error again:

[code]

i got this log, maybe this could help:
[code]

[2018-01-23 11:56] efraespada commented on #19
@rexi1r okay, "what went wrong" error is related to your XML file (probably a bug), not about the plugin setup. Are you getting `Could not get unknown property 'com' for root project 'AndroidLibrary' of type org.gradle.api.Project` error anymore times?

We'll continue on #20 😅

[2018-01-23 12:12] efraespada commented on #17
@d-moreira you must use `debug` right this way:
[code]
It should confirm your `release` signing config is defined.

........................................................................................................................................................

I found a bug that didn't allow the plugin to look for the right module. It should be fixed 🤔

Check if both soft (library and plu

[2018-01-23 14:44] rexi1r commented on #19
@efraespada no I don't get that kind of message anymore, but like you said it turns to work on #20 :grin:
thanks to you :heart:

[2018-01-23 15:03] efraespada commented on #19
Perfect 👏🏼😂
See you on #20 @rexi1r

[2018-01-23 15:03] #19 closed, assigned to efraespada

[2018-01-23 15:22] efraespada commented on #20
@rexi1r not sure about what is happening, `SAXParseException` is thrown when there is an error on your XML, at least after plugin works on that file.

It could be caused by the use of `hidden` attribute inside comments as that issue describes: #18

[code]

Check if it's your case.

I also see in the last issue (#19) you finally were getting this:
[code]
It comes when It tries to get the fingerprin

[2018-01-23 15:43] d-moreira commented on #17
I'm doing that and using the correct software versions. I have something like:

[code]

But the plugin can't find the `src/main` folder when I run the project on one particular pc. If I run the same exact project on another pc it works as intended. It seems the issue is related to some kind of setting of the pc.

[2018-01-23 18:30] efraespada commented on #17
It should work in all PCs 💪
Let's print WTF is looking for

[2018-01-23 21:39] efraespada commented on #17
@d-moreira new version -> [0.4](https://github.com/StringCare/AndroidLibrary/releases/tag/v0.4)
- More logs with `debug true`
- Some bugfixes 🤞

[2018-01-23 21:44] efraespada commented on #21
@sumitgohil @k4dima new version -> [0.4](https://github.com/StringCare/AndroidLibrary/releases/tag/v0.4)
- More logs with `debug true`
- Some bugfixes
- Detection of not configured variants

Thanks for your patient 🙌

Reopen this if the problem persist

[2018-01-23 21:44] #21 closed, assigned to efraespada

[2018-01-24 15:07] d-moreira commented on #17
Hi @efraespada, this is still not working :( (thank you for your effort still!). I managed to get some info from the logs that should be useful:
[code]
[code]
The first log is from the faulty build and the second from a correct build on another machine. We can see that the plugin is trying to find the folder on the wrong path, on the first one. It should look on `path_to_project/app/src/main/res/`

[2018-01-24 15:27] efraespada commented on #17
🤣 🤣  incredible, I can't imagine where is the difference between both PCs for missing module name, but I'm sure It isn't a PC fault.
@d-moreira you are on the right thing. I'll review code again.
Thanks!

[2018-01-24 22:11] efraespada commented on #17
@d-moreira check out version `0.5`

[2018-01-25 11:41] d-moreira commented on #17
Hi @efraespada, the problem persists:
[code]
[code]
It seems to recognize the module name but it does not get added to the `res` folder path.

[2018-01-26 18:55] rexi1r commented on #20
@efraespada test all you said but get that error again

[2018-01-29 11:29] d-moreira commented on #17
Hi @efraespada, any news on this?

[2018-01-29 12:33] efraespada commented on #17
I was doing some tests at weekend but there is no news. It seems the most stupid bug I've never seen before. 😓

Today I'll try it again, @d-moreira.

Thanks for your patient 🙏🏼

[2018-01-29 20:47] efraespada commented on #17
@d-moreira check out version 0.6 on plugin:
`classpath "com.stringcare:plugin:0.6"`🤞🏼

[2018-01-31 19:00] d-moreira commented on #17
Hey @efraespada, it's finally working :) thank you for your persistence!

Can you take a look at https://github.com/StringCare/AndroidLibrary/pull/25 and release a new version with all these changes?

[2018-01-31 19:54] efraespada commented on #17
#25 merged 👌 building version `0.6` on library.
Thank you again @d-moreira!!!

[2018-01-31 19:54] #17 closed, assigned to efraespada

[2018-02-01 05:19] eidola7 opened #27 "Plugin didn't work for all "release" variant"
All release variant show " no config defined for variant release "  log.
How can I apply "StringCare plugin" for "release" variant ?

[2018-02-01 06:56] eidola7 commented on #27
My project also has  "Config: none" status.
----------
Variant: release
Config: none
----------

I's working after set config. Thanks.

ref : https://github.com/StringCare/AndroidLibrary/issues/21

[2018-02-01 06:56] #27 closed, assigned to nobody

[2018-02-01 10:03] efraespada commented on #27
Then perfect, @eidola7  😄

[2018-02-01 23:31] eidola7 opened #28 "Plugin not working when I make aar library (com.android.library)"
When  I make aar library, encrypted string is not included in aar files.

After completion of library module build,
I open and check values.xml files under location :  'module'\build\intermediates\res\merged\'variant'\'buildType'\values\
Strings are all encrypted as well.

but, It seems that 'res\values.xml' file in aar library is not encrypted (original file itself?)
Is there any missing point?

[2018-02-02 07:33] efraespada commented on #28
@eidola7 plugin looks for string files inside every folder in `res` folder, then it causes this error. I also suppose encrypted strings in `intermediate` folder comes from your main module where `res` folder contains more folders with string files (`res/values-en/strings.xml`, `res/values-xxhdpi/strings.xml`..).

Next release will look for string files on `res` folder too. Thanks for the issue! 😄

[2018-02-02 08:10] eidola7 commented on #28
@efraespada
string resource file in my project :
main\res\values\stings.xml
has
`<string name="app_name" hidden="true">TestApp</string>`

When I make AAR, then, gradle log show me string encryption is progress well, and finally
'module'\build\intermediates\res\merged\ "variant" \ "buildType"  \values\values.xml
  has encrypted string...
`<string name="app_name" hidden="true">B291D296DDC7A0ACF251E0

[2018-02-03 01:54] z0rgoyok opened #29 "Plugin doesn't obfuscate some strings"
`<string name="str1">2E8A34BAC54309D4B47866F998F6D3CBDA68D11C86481494A3DFE8531E273991</string>
<string name="str2">Активные (%1$d)</string>
<string name="str3">Новые (%1$d)</string>`

[2018-02-03 14:48] efraespada commented on #28
@eidola7  I think you can't do it
When you'll try to use your `aar` file in other app the fingerprint will be different. `Context` is needed for getting the fingerprint:
[code]
[code]
StringCare library won't be able to decrypt your strings at run time.

No idea about how these strings aren't being encrypted at compilation time

Update
--------
This problem (not the issue) is resolved in version `

[2018-02-03 15:25] efraespada commented on #29
Fixed on `v0.7` @z0rgoyok.
I see you use regex format on strings. That's for you:
[code]
[Android developers - FormattingAndStyling](https://developer.android.com/guide/topics/resources/string-resource.html#FormattingAndStyling)
[code]

[2018-02-03 15:25] #29 closed, assigned to efraespada

[2018-02-03 16:47] z0rgoyok commented on #29
Thanks, works fine now!

[2018-02-04 08:54] efraespada commented on #28
@eidola7 I just release v0.8 in library in order to solve the problem I mentioned you.
Please, check out [readme in develop branch](https://github.com/StringCare/AndroidLibrary/tree/develop) for see how to set your library up to work with StringCare library.

Now the original problem: **Strings aren't being encrypted when `aar` file is built.**
Plugin doesn't look for string files in `build` folde

[2018-02-05 07:43] efraespada commented on #28
Hi @eidola7, I just fix the problem with library resources encryption but I noticed **a great vulnerability** at runtime.
I also noticed a second problem: SC Library cannot get the library fingerprint

[2018-02-07 01:19] eidola7 commented on #28
@efraespada  Thankyou for your help!
But I still cannot test 0.8 version.
I get gradle sync error : "Could not find com.stringcare:plugin:0.8"
version 0.6 or 0.7 have no gradle sync error. Only v0.8 show me error log.

About fingerprint, I understand difference between app and library.
If I use same signature for app & lib, then fingerprint also same. right?
I will manage that carefully.

[2018-02-09 18:45] d-moreira opened #31 "IllegalBlockSizeException when decrypting"
Hi @efraespada,

I'm getting an error when decrypting a string like `asd=\\n`. Here is the log:
[code]

Can you investigate the issue? Maybe this can be solved by encoding/decoding the values using Base64... Thanks!

[2018-02-12 12:28] efraespada commented on #28
Hi @eidola7, I'm working on next version which won't use fingerprints. Every module in your project (`app`, `library`) will generate its own key at runtime/compilation time allowing libraries to be exported as `aar` files with encrypted content.

_________________
With the current version (which can't get lib's fingerprint), If you export your lib as `aar` file it's possible that when you implemen

[2018-02-12 12:32] efraespada commented on #31
Thanks for reporting it, @d-moreira!

I'm working on next version which comes with lot of changes and of course, this bug fixed.

Thanks for your patient.

[2018-02-14 10:32] d-moreira commented on #31
Hi @efraespada,

do you have an eta for the next release?

[2018-02-14 11:44] efraespada commented on #31
Hi @d-moreira, now It's complicated to give an ETA. Plugin and lib will have JNI integration in order to work with C++ files. Library is already working with C++ but plugin still not working as expected 😅

Maybe 1 or 2 weeks

[2018-02-14 12:03] d-moreira commented on #31
Is it possible launch a new release with this fix? It's the only issue that's preventing me from using this lib in production.

[2018-02-14 14:28] efraespada commented on #31
@d-moreira I'll try to release a new version at night with that fix

[2018-02-15 13:44] efraespada commented on #31
Hi @d-moreira , yesterday I was doing some tests but didn't work as expected.
Check out [`AES.java`](https://github.com/StringCare/AndroidPlugin/blob/feature/encondig/src/main/groovy/AES.java) on `feature/encoding` (plugin).

It seems encoding and ciphering values produces unicode chars, which can't be stored as text on `strings.xml` .

The same methods (Base64 encoding on `encrypt` and `decrypt`)

[2018-02-15 15:31] d-moreira commented on #31
Hi @efraespada,

I dug further and there seems to be an issue saving the string after the plugin encrypts it. For instance, given the following strings:
[code]
I can see in the logs that the plugin is able to encrypt them:
[code]
But if I try to get the strings during run time I can see that only for `test` the expected result is returned:
[code]
If I try to decrypt `string1` now I'll get the exce

[2018-02-18 23:20] d-moreira commented on #31
Hi @efraespada,

any progress?

[2018-02-27 10:28] efraespada commented on #31
@d-moreira sorry for the delay, I don't have enough time this weeks 😓
Have you tried `asd=\\\\n`?

[2018-03-12 21:28] Narvelan opened #32 "The new version 0.7 does not apply plugin"
plugin does not apply how i see **gradle console** android studio 3.0.1
[code]

**gradle1**
[code]

value/strings.xml contain
`<string name="drower_profile_item" hidden="true">Профиль</string>`

why does not work? @efraespada Help please, my contact https://t.me/hilaryon for online chat, but my english not very well =(

[2018-03-13 07:20] Narvelan commented on #32
if i set stringcare_version = '0.6' or '0.5',  gradle output show error

[code]

what i forgot to do? did as it is written in readme

[2018-03-13 09:13] efraespada commented on #32
Hi @Narvelan! Thanks for report it. As I can see in your logs, `mergeDebugResources` is called on `app` module but plugin doesn't work.
Show me what this commands print:
[code]
and
[code]

[2018-03-13 09:30] Narvelan commented on #32
I'm not sure where write gradlew command, in terminal?

[code]

![2018-03-13_123212](https://user-images.githubusercontent.com/13901461/37333369-3d475ef2-26ba-11e8-9261-c401c1128aa6.png)

@efraespada maybe login with team viewer will be faster?

[2018-03-13 10:17] efraespada commented on #32
Sorry, I didn't notify you use Windows, invoke Gradle with `gradlew.bat <command>` instead of `./gradlew ...`.
I see `1 busy and 1 incompatible Daemons could not be reused`. Run `gradlew.bat stop`, it should stop all pending process. Then, rebuild project.

[2018-03-13 10:27] Narvelan commented on #32
I rewrite gradle.properties setting org.gradle.jvmargs=-Xmx512M (old value -> `org.gradle.jvmargs=-Xmx1536M`) and now `gradlew.bat signingReport` works.

[2018-03-13 10:33] efraespada commented on #32
@Narvelan and did you stop all Gradle process? Rebuild your project and show me the result

[2018-03-13 10:48] Narvelan commented on #32
It's work =)

Executing tasks: [:app:assembleDebug]

Configuration on demand is an incubating feature.
:app:buildInfoDebugLoader
:app:preBuild UP-TO-DATE
:app:preDebugBuild UP-TO-DATE
:app:compileDebugAidl UP-TO-DATE
:app:compileDebugRenderscript UP-TO-DATE
:app:checkDebugManifest UP-TO-DATE
:app:generateDebugBuildConfig UP-TO-DATE
:app:prepareLintJar UP-TO-DATE
:app:generateDebugResValues UP-TO-D

[2018-03-13 11:02] efraespada commented on #32
Thanks to you! @Narvelan

[2018-03-13 11:03] #32 closed, assigned to efraespada

[2018-03-13 15:10] Narvelan opened #33 "Can the plugin obfuscate string resources names?"
`<string name="free_version_string" hidden="true">Бесплатная версия</string>`

![2018-03-13_180452](https://user-images.githubusercontent.com/13901461/37350321-8efea2bc-26e9-11e8-8d02-19f1e2ae2e36.png)
If not, do you plan to add such functionality? It may be very usefull to protect app

[2018-03-13 15:45] efraespada commented on #33
Attributes can't be obfuscated. Why?
Attributes define properties for values (Strings, Colors, Layouts..).
Specifically `name` attributte is used on IDE (i.e. Android Studio) as an identifier:
[code]
When applications are compiled, every resource has an `int` value (`0x7f0e00fa` in your code) in `R.java` class which acts as the res identifier ~~and names aren't visible anymore~~.

[2018-03-13 15:56] Narvelan commented on #33
![image](https://user-images.githubusercontent.com/13901461/37353098-b02ef378-26ef-11e8-9565-87fa1210e3bc.png)
@efraespada All string res names are visible in apk analyzer =( In compiled apk file
string names a good hint to hackers to find needed int value in code

[2018-03-14 00:51] efraespada commented on #33
Great info @Narvelan, it will be implemented 🤗​

[2018-03-14 07:25] Narvelan commented on #33
Thank you very much @efraespada, when is it possible to expect the implementation of this function?)
I was going to manually rename each string names, I hope I'll wait for new SC version and I do not have to do this

And how can I donate to support of the project, maybe PayPal transfer?

[2018-03-14 09:05] Narvelan opened #34 "Can I use CS hidden string in XML Layout?"
When I write link to hidden string res in xml layout files
`android:text="@string/glass"`
The text remains encrypted, somehow we can use this strings in xml to show text decrypted?
Or only decrypt it in java code and after use settext

[2018-03-15 00:55] efraespada commented on #33
@Narvelan currently I'm finishing a stable version of [RotorLab](https://github.com/rotorlab) and I hope to start fixing issues here in one or two weeks.
I prefer coding contribution which is better for the community 😅​
Would you like to work as collaborator? All plugin integration is done and the unique change to do is in `FileUtils` class.

[2018-03-15 00:59] efraespada commented on #34
@Narvelan I think it's possible by extending `TextView` class and decrypt values before show them on view. It could be a good improvement 👌​👌​

[2018-03-15 07:27] Narvelan commented on #33
Thanks for the suggestion, unfortunately my level is not enough yet, I started writing on Java for android not long ago (before that I wrote on Delphi). I looked at FileUtils class and I'm afraid I do not know what changes there should be made for these improvements. If there were more comments explaining what the code does, it is possible it would be easier

[2018-03-15 08:03] Narvelan commented on #34
@efraespada It's will be perfect! If you can do this =)

I try to create widget extends AppCompatTextView, but don't know get resId to setText)

[code]

[2018-03-25 13:47] Narvelan commented on #34
I did it

[code]

[2018-03-30 10:50] efraespada commented on #34
Perfect @Narvelan! You're great! 😄
Would you like to include it on library?

[2018-04-02 10:45] Narvelan commented on #34
Don't now how to do it) In my project it's java file (MyTextView.java) in widget folder with code

[code]

And in my layout files I use it like:

[code]

[2018-04-02 13:08] efraespada commented on #34
Okay @Narvelan, then I'll add it to library with your permission 🙂

[2018-05-11 09:56] 12gods opened #35 "null reference after sign application"
i use this lib to encrypt my strings.
Everything working ok on emulator but when i sign the application and running the app on mobile when decrypt the string the result is NULL
Thank for any help

[2018-05-13 14:51] efraespada commented on #35
@12gods thanks to you for using StringCare.
With the information you give I can't find the error. Could you print the output console? Remember to remove the fingerprint, don't show us.

You say that when (at runtime) `SC.getString(R.string..)` is called you are getting null. Are you using variants? For different resources I mean (device / emulator)

[2018-05-14 05:34] 12gods commented on #35
@efraespada good morning
I found the problem. i had encrypt some strings when i was running under debug. The results are different when running as sign. So i do the same encryption as the application was running as sign.
Thanks, good work

[2018-05-14 05:34] #35 closed, assigned to nobody

[2018-05-16 20:50] nikosmit opened #36 "String does not decrypt"
Good evening. We use your  library
in one application and we deal with a problem. The library works perfect in signed realese version but when it is published in the play store the string does not become decrypt. Have you any ideas for this situation? Thanks in advance!

[2018-05-16 22:38] efraespada commented on #36
@nikosmit Hi! 🙂
How did you upload the release variant to the Play Store?

[2018-05-17 13:42] nikosmit commented on #36
Thnx for your reply! Firstly we generate a signed release apk and install it manually in real device. Application works fine. After that we try to deploy the same apk in play store and when install the app from play store the application crashes and i recognize that the strings stay encrypted. Can you imagine what may be wrong?

Gradle console output looks correct.

Configuration on demand is an i

[2018-05-17 13:56] efraespada commented on #36
@nikosmit It seems that's the reason: [Sign Your App Doc](https://developer.android.com/studio/publish/app-signing#google-play-app-signing)

Google resigns your APK with the **app signing key**.

I think (and hope) the solution is in the next section: [Manage your own key and keystore](https://developer.android.com/studio/publish/app-signing#self-manage)

🤞🏼

[2018-05-22 06:42] nikosmit commented on #36
You are right. That was the problem.
Thanks for your help and support.

[2018-05-22 07:06] efraespada commented on #36
@nikosmit thanks to you for using StringCare and report the issue. I'll explain the release sign process on the wiki section.

[2018-05-22 07:06] #36 closed, assigned to nobody

[2018-07-11 10:44] strike76 opened #37 "Avoid reverse engineering"
Hi, i use this library to encrypt string resource. With smali after decompiling app it's very easy to see original value. How can avoid reverse engineering ?

[2018-07-11 11:12] efraespada commented on #37
Hi @strike76 😊
Are you talking about hardcoded strings on the code?

[2018-07-11 12:19] strike76 commented on #37
Hi @efraespada i mean a string into strings.xml file. For example :
[code]

[2018-07-11 13:02] efraespada commented on #37
@strike76 then, you say:
1º APK generated using StringCare
2º APK decompiled
3º `strings.xml` file shows original values when they should be encrypted:
[code]
Am I right?

[2018-07-11 13:08] strike76 commented on #37
@efraespada Of course no !
But
1) decompile app
2) create smali (do you know ?)
3) add LOG instruction to smali code
4) recreate APK
5) install APK
6) launch log app from playstore (For example LogCat)
7) decrypt strings are visible

[2018-07-11 19:29] efraespada commented on #37
Okay, finally I understood you.

StringCare doesn't take care about what happens from the decrypted string output.

Of course, it is effortless without ProGuard obfuscation or obfuscating and knowing where `SC.getString(...)` is called on the code 😅

Proguard can obfuscate the Java classes, but not strings (StringCare purpose).

No idea, If I knew how to do it this project wouldn't exist.

[2018-07-11 19:29] #37 closed, assigned to nobody

[2018-07-12 08:08] strike76 commented on #37
ok thanks my friend! @efraespada

[2018-07-12 09:48] efraespada commented on #37
Thanks to you for using the plugin/lib. Hope Proguard + StringCare could make tough the code inspection.

Alternatively, you can try DexGuard (ProGuard creators), but it's so expensive. 😕

[2018-07-12 09:51] strike76 commented on #37
Dexguard it's very expensive! Thanks

[2018-07-14 09:51] strike76 commented on #36
Hi @efraespada i'm using app signing of developer console. But when i upload signed apk, google resign with new key and StringCare doesn't work. Is there a workaround ? I cant disable App signing in developer console

[2018-07-14 10:04] efraespada commented on #36
Hi @strike76!
You must [sign the app with the **signing key**](https://developer.android.com/studio/publish/app-signing#self-manage). Now you are using an **upload key** to sign your app and google re-signs it with the signing key.

[2018-07-14 10:13] strike76 commented on #36
thanks @efraespada but i use tha same key used for past release! What i'm wrong ? Apk generated by android studio works well (stringscare is ok) , but when i upload on playstore it's stop working.
Can you explain me ?

[2018-07-14 12:21] strike76 commented on #36
@nikosmit did you find a solution?

[2018-07-15 15:07] efraespada commented on #36
@strike76 the configuration set for signing your release APK (in Android Studio) is using an upload key instead a singing key. You must change it and sign it well.

Both keys are valid, the difference is that using upload key your APK needs a secondary signing, and it's made by Google.

[2018-07-16 08:18] strike76 commented on #36
@efraespada Thanks ! but i have only upload key. Signing key is the one generated by google. How can i use it ?

[2018-07-17 07:18] efraespada commented on #36
Sincerely, I don´t know 😅
But I´m sure @nikosmit remembers how he did it (get a signing key, not the upload key).

[2018-07-17 08:08] strike76 commented on #36
Ok thanks @efraespada ;-)

[2018-09-28 16:40] abraaocaldas opened #38 "Incorrect linebreaks"
I'm using Android Studio 3.2 (Windows) with gradle 4.6 and stringcare 0.7, everytime I build my app String care removes all linebrakes from strings.xml making it a single line file.

[2018-10-05 23:07] abraaocaldas opened #39 "StringCare do not work with gradle flavors"
StringCare do not work with Gradle Flavors.

Set two build flavors, the first with a signing config and the second without, on the first build everything will work fine, on the second build all string will not decrypt anymore.

build >>>> build again -> breaks string care if you use gradle flavors.

[2018-10-08 11:30] efraespada commented on #38
How are you adding line breaks?

Thanks for your patient!

[2018-10-08 11:32] efraespada commented on #39
Could you print here the config you are using in the `build.grade` file? And the src folder structure.

Thanks 😃

[2018-10-08 16:27] abraaocaldas commented on #38
Hum...
Well I just do Reformat Code -> Rearrange entries to fix the problem until the next build when the file changes again.

[2018-10-09 14:16] efraespada commented on #38
It seems the original files were "compressed" (no line breaks) when restored or when copied initially.

After reformating code, is there any encrypted value?

[2018-10-09 16:27] abraaocaldas commented on #38
Yes, the encryption works fine, just the linebreaks that are messed up.

[2018-11-07 09:50] ziadagh opened #40 "Obfuscate Android Library"
Can I use this library to obfuscate an android library I have already created in order to release it for customers?
I want to obfuscate full classes, methods, and strings, but exclude certain ones.
Is this possible?

[2018-11-07 20:16] efraespada commented on #38
Hi @abraaocaldas, could you solve the issue?

[2018-11-07 20:17] #39 closed, assigned to nobody

[2018-11-07 20:19] #34 closed, assigned to efraespada

[2018-11-07 20:22] efraespada commented on #20
Could you print the `build` Gradle task stack trace?

[2018-11-07 20:23] abraaocaldas commented on #38
In fact I faced another problem with the library, if you need to resign your app, everythings breaks after that, unfortunally I do not use stringcare anymore :(

[2018-11-07 20:37] efraespada commented on #28
Hi @eidola7, here is a [similar issue](https://github.com/StringCare/GradlePlugin/issues/9) where StringCare works in libraries (but it doesn't obfuscate library's strings, only external data).

I couldn't continue working on the sign issue. I'll let you know if there is an improvement on that.

[2018-11-07 20:37] #28 closed, assigned to efraespada

[2018-11-07 20:55] efraespada commented on #38
I'm sorry about that, thanks for testing! 🙂

How did you resign the APK? It isn't a common task, only (afaik) in APK publishing if you use an upload key as the local fingerprint.

[2018-11-07 20:55] #38 closed, assigned to nobody

[2018-11-07 20:56] #33 closed, assigned to efraespada

[2018-11-07 20:57] #31 closed, assigned to efraespada

[2018-11-10 12:16] efraespada commented on #34
Hi @Narvelan, I released v0.9 with your improvement. I added a `ContextListener` for avoiding init the library with the TextView's `Context`. Thanks!

[Documentation Usage](https://github.com/StringCare/AndroidLibrary/wiki/Library-Usage)

[2018-11-13 10:58] efraespada commented on #20
Issue closed. Re-open it if you reproduce the same error. Thanks!

[2018-11-13 10:58] #20 closed, assigned to efraespada

[2019-04-11 11:44] AndroidDeveloperLB opened #43 "Need explanation about migration from v0.9 to v1.2"
We used the library in many places, using v0.9 . Example:

    SC.getString(R.string.some_important_key)

    <string name="some_important_key" hidden="true" translatable="false">abc</string>

Will this still work on v1.2 ? What exactly should we change it to?

I've read this:
https://github.com/StringCare/AndroidLibrary/wiki/Migrate-From-0.x-To-1.x

But I don't understand what to change it to.

S

[2019-04-11 11:52] AndroidDeveloperLB commented on #43
I think the explanation on the website means that if I use just resources , it shouldn't be a problem to use `SC.deobfuscate(R.string.some_important_key)` for each time I had `SC.getString(R.string.some_important_key)` before.

Is it correct?

[2019-04-11 11:58] AndroidDeveloperLB opened #44 "Question: does this library allow using gradle v3.3.2 and variants?"
It was told in the past that it's not:
https://github.com/StringCare/GradlePlugin/wiki/Plugin-Implementation

But there is a new version 1.2 .

Is this still an issue?

[2019-04-11 12:27] AndroidDeveloperLB commented on #43
After I tried to do this, I got this error:
[code]

[2019-04-11 13:07] efraespada commented on #43
Library methods in version `v.0.9` (for example `SC.getString(int id)`) where deprecated in `v.1.2` because this version implements a safer logic for string obfuscation.

Since `v.1.2` you must use `SC.obfuscate()` and `SC.deobfuscate()` methods for working with resources.

The migration talks about obfuscating dynamic data at **runtime**.

For example, with `v.0.9`:

[code]

With the new logic on

[2019-04-11 13:10] AndroidDeveloperLB commented on #43
But with resources it's correct what I've written? That all that I need to do is to change from `SC.getString(R.string.some_important_key)` into  `SC.deobfuscate(R.string.some_important_key)` ?

Please just tell me if it's correct... We use the library only from resources currently.

[2019-04-11 13:13] efraespada commented on #43
If you build a new version of your app with SC `v.1.2` your string resources will be obfuscated with the new logic and you must use `SC.deobfuscate()` method instead of `SC.getString()`.

Remember that SC can't compile with `com.android.tools.build:3.3.0`. I haven't test SC with new releases of `com.android.tools.build` (3.3.2).

[2019-04-11 13:19] AndroidDeveloperLB commented on #43
So I'm correct, right? from `getString` , I should use `deobfuscate`.

So why deprecate instead of removing the function? It won't work anymore, no?

Deprecation means it should still work, but it's recommended to use something else instead...

And about `3.3.0` of gradle, I don't know how it's possible that it works for me on 3.3.2, yet not for the macbook. I was hoping that updating the version

[2019-04-11 13:46] efraespada commented on #43
_I should use deobfuscate_. You are right.

I didn't remove old methods because developers could have obfuscated dynamic data with the old logic, and they will need them for deobfuscating and obfuscating again with the new methods.

You can still using old methods (only for dynamic data) but there is a safer logic you can use.
The string resources are obfuscated with the new logic (from plugin) by

[2019-04-11 13:52] AndroidDeveloperLB commented on #43
I think you should have removed the functions, and replace them with other deprecated ones, because in some cases the functions are called on resources and not on strings, so they are safer to be replaced.

But thanks anyway.

About gradle, yes. It's really weird:
1. Works fine on my Windows OS with 3.3.2 .
2. Worked fine for a while (but not before) on macbook with 3.3.2, but now it can only use

[2019-04-11 15:47] efraespada commented on #43
Yes I think so, with `v.3.2.1` works fine 👌

When I release that version it only worked fine with 3.2.1 (macOS) 😞
With `v.3.3.0` SC never worked.

Thanks for your report. I will take in mind for future releases!

[2019-04-11 17:37] AndroidDeveloperLB commented on #43
Will the next version of the repository be able to handle newer versions of Gradle plugin? Is it possible to make it not be so reliable on its version?
I suggest that if you have a good way to show an issue, and you think it's not your fault, you should report about it to Google:
https://issuetracker.google.com/issues

[2019-05-06 08:13] AndroidDeveloperLB commented on #43
Any news about this?
The only reason we are stay with gradle 3.2.1 is this library....
And it works fine on 3.4.0 when used on Windows... Just on MacOS it has issues (not crashing, but can't do things that use it).

[2019-05-06 08:33] efraespada commented on #43
@AndroidDeveloperLB Last weeks I didn't had enough time for working on it, but this one I'll review the library.

I didn't see your last comment:
I'll report as a new JNI issue in [https://issuetracker.google.com/issues](https://issuetracker.google.com/issues).

Thanks for the advice and for your patient. 😅

[2019-05-06 10:02] AndroidDeveloperLB commented on #43
@efraespada Thank you. I hope you will succeed.

[2019-05-08 08:03] efraespada commented on #43
@AndroidDeveloperLB I found an error at compilation time and it's fixed now (with build tools 3.4.0). Let me do some checks and update the wiki.

[2019-05-08 11:17] AndroidDeveloperLB commented on #43
OK thank you

[2019-05-09 07:14] efraespada commented on #43
Hi @AndroidDeveloperLB:
I've publish a new version (v1.5) with some changes. It should work fine on Windows and MacOS.
Let me know if it works without problems.

I've updated all the documentation too: [Migrate From 0.x To 1.x](https://github.com/StringCare/AndroidLibrary/wiki/Migrate-From-0.x-To-1.x)

Thanks for your patient.

[2019-05-10 06:11] efraespada commented on #19
@MansiPatodi are you getting this message error?

[2019-05-12 06:58] AndroidDeveloperLB commented on #43
I think you should have written that if you use resources as I have, you should replace `SC.getString(R.string.some_important_key)` into what you've decided (was `deobfuscate`, but now it seems to be `reveal`)
Currently, it says that `You don't need to read this page if you don't store obfuscated data` .

Will this now work even in the future gradle versions? Have you tried with the alpha/beta ver

[2019-05-12 07:30] AndroidDeveloperLB commented on #43
Also, using the new version doesn't work for me anymore. It shows as if the resources don't exist anymore.
It crashes.

Attached sample project.

[MyApplication.zip](https://github.com/StringCare/AndroidLibrary/files/3169833/MyApplication.zip)

Snippet:

[code]

It either shows a very short crash log, or a long one. Here's the short one:

[code]

[2019-05-12 07:31] AndroidDeveloperLB opened #48 "Can't import sample"
I get this:

![image](https://user-images.githubusercontent.com/5357526/57579063-523f1a00-749f-11e9-8814-1513ff3616b9.png)

[2019-05-12 16:59] efraespada commented on #43
@AndroidDeveloperLB I downloaded the sample app and worked fine 😅

This error happened on the version before, maybe any StringCare package is cached and doesn't work properly.  **Clean** the project and **run** it again.

If it doesn't work: **File > Invalidate Caches / Restart > Invalidate and Restart**

I tested this version on Windows and MacOS; it should work

![device-2019-05-12-183946](https

[2019-05-12 17:06] efraespada commented on #43
It's true. You don't need to read that page if you don't store obfuscated data. The most relevant change was the methods deprecation.

- Up to 0.9: SC.getString()
Old logic.
- Up to 1.2: SC.deobfuscate()
New logic.
**SC.getString()** method must work for the stored obfuscated data migration (deprecated)
- 1.5: SC.reveal()
**SC.deobfuscate()** renamed.

[2019-05-12 17:28] AndroidDeveloperLB commented on #43
So change it:
https://github.com/StringCare/AndroidLibrary/wiki/Migrate-From-0.x-To-1.x

It says I don't need to read it, and it's missing this part...

[2019-05-12 17:41] efraespada commented on #48
@AndroidDeveloperLB Try removing `:library` not to make it compile.

![Capture3](https://user-images.githubusercontent.com/1783618/57585800-5bef6e80-74ed-11e9-9e47-cc3cdf7a02c7.PNG)

[2019-05-12 17:53] AndroidDeveloperLB commented on #48
OK, now it changed to this:

![image](https://user-images.githubusercontent.com/5357526/57586004-c3aab700-74f7-11e9-9071-13090bc61357.png)

I think you can't put strings this way.
You need to use CDATA. And you can't use `<br>`. Instead you need to use `<br/>`.

Example:

[code]

[2019-05-12 18:03] efraespada commented on #43
I defined the deprecated method migration on the code: by pressing `Ctrl`(or `cmd`) key and clicking over the deprecated method you access to its definition, where you can see what to do:

<img width="578" alt="Screenshot 2019-05-12 at 19 46 00" src="https://user-images.githubusercontent.com/1783618/57585957-0d42d400-74ef-11e9-8055-f3c8d7cf5f61.png">

I thought this documentation would be more acc

[2019-05-12 18:07] AndroidDeveloperLB commented on #43
For those who update, if it says we should ignore, we don't look at the code that uses StringCare, so the deprecated code will remain being used.
When you update a dependency, it doesn't make sense to go over each of its functions, to see what has deprecated, especially if there is a website that tells you all is fine...

[2019-05-12 18:15] efraespada commented on #48
@AndroidDeveloperLB It's true. You can't put strings on that way (without StringCare).

The StringCare plugin transforms multiline values and whatever you put inside the string value to a single text line (obfuscated).

Approaching this feature, you can insert HTML code.

The error you see happens when StringCare doesn't obfuscate string values. Cleaning the project solves this problem for me.

[2019-05-12 18:17] efraespada commented on #43
I understand it, you are right. I will update the doc again.
Did you run the application without problems?

[2019-05-12 18:50] AndroidDeveloperLB commented on #48
Cleaning the project and even invalidating the cache didn't help. The IDE doesn't even find the module to run:

![image](https://user-images.githubusercontent.com/5357526/57586546-f2c52680-74ff-11e9-9ffc-17cb5fcc41a9.png)

You need to use the rules for strings resources, no matter if you have your own library for using them.
It can also help for enabling your library on existing strings, meaning a

[2019-05-12 19:03] efraespada commented on #48
I got the `end-tag`error with `br`. I did this:

With `settings.gradle`:
[code]
In Android Studio terminal:
[code]

`<br> end-tag` error comes when the app fails on the compilation process. This fail is produced because StringCare needs the fingerprint and it's not defined for the `release` buildType; execute `buildDebug` for compile without problems.

You should run the project without problems o

[2019-05-12 20:02] AndroidDeveloperLB commented on #48
I used "build" -> "clean project".  For some reason I can't run what you wrote. Probably again issues with Java...
Anyway, please fix this issue.
Strings resources already have rules.

[2019-05-12 20:15] efraespada commented on #48
I can't fix something that is working for me. I run the sample without problems.
Any issue produced by testing can be undone:
[code]
And build the debug buildType:
[code]
Could you try it and tell me what happens?

[2019-05-12 20:21] efraespada commented on #43
[Migration doc updated](https://github.com/StringCare/AndroidLibrary/wiki/Migrate-From-0.x-To-1.x)

[2019-05-12 20:26] AndroidDeveloperLB commented on #48
I've already tested it on 2 PCs . The one in the office and the one at home.
At the office I didn't try the "settings" file yet, which should also be fixed. I will try it there when I get back to work, and also try the real project we work there, to see if I can update the version.

About the commands, here's the result:

[1.txt](https://github.com/StringCare/AndroidLibrary/files/3170513/1.txt)

A

[2019-05-12 20:36] AndroidDeveloperLB commented on #43
Why close the issue? I didn't try it yet...

[2019-05-12 23:27] efraespada commented on #43
Sorry, I updated the documentation and close

[2019-05-12 23:34] efraespada commented on #48
CMake is the cause of those errors. The project tries to compile the `:library` module and the computer has a different CMake version than the needed by the project.

I've published this basic repository: [KotlinSample](https://github.com/StringCare/KotlinSample)

It should be **clone & run**.

[2019-05-13 07:16] AndroidDeveloperLB commented on #43
On the large app, I tried what you wrote:

I even tried to delete all "build" folders. Still crashes when I start the app.

I've now tried to do the same for the app I've shared with you. Still same issue. Crashes right away.

Here, a video showing what I tried :

[2019-05-13_10-14-07.zip](https://github.com/StringCare/AndroidLibrary/files/3171522/2019-05-13_10-14-07.zip)

[2019-05-13 17:53] AndroidDeveloperLB commented on #48
The KotlinSample also fails:

[2019-05-13_20-41-38.zip](https://github.com/StringCare/AndroidLibrary/files/3174135/2019-05-13_20-41-38.zip)

Tested on Pixel 2 with Android Q beta 3, emulator with Android P.

This seems to occur when I use Canary version of Android Studio.
When I tried on Android Studio 3.4 , it seems to work fine:

![image](https://user-images.githubusercontent.com/5357526/5764259

[2019-05-13 17:53] #48 closed, assigned to nobody

[2019-05-13 18:15] efraespada commented on #48
😕
I'm sorry not to have asked you before what version of Android Studio you use.
It's strange the behavior in the original sample. Did you can you run your main project with StringCare and Android Studio 3.4?

Thank you very much for your help. I will check that error on Canary channel.

[2019-05-13 18:17] efraespada commented on #43
It seems the Canary channel is the cause. I'm gonna check it.

Can I close this issue?

[2019-05-13 18:54] AndroidDeveloperLB commented on #43
I want to have another try at the office. As I remember, I tried it on normal version too.

[2019-05-13 18:55] AndroidDeveloperLB commented on #48
Will check tomorrow.

[2019-05-13 18:56] efraespada commented on #43
I switched to Canary channel (macOS):

- Android Studio 3.5 Beta 1
- Android Gradle Plugin 3.5.0-beta01
- Gradle 5.4 RC-1
- SC 1.5

Both samples are working fine.

What versions are you using?

[2019-05-13 19:03] AndroidDeveloperLB commented on #43
Android Studio 3.5 Beta 1
Build #AI-191.6707.61.35.5529924, built on May 3, 2019
JRE: 1.8.0_202-release-1483-b01 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

[2019-05-14 07:14] AndroidDeveloperLB commented on #43
I've tested now on the big app at the office. Still crashes. And I've used all the "big guns" I had for the sample:
1. clean project.
2. invalidate cache
3. Delete `build` folders.
4. Delete `C:\Users\user\AppData\Local\Android\Sdk.temp` folder

All while using :

Android Studio 3.4
Build #AI-183.5429.30.34.5452501, built on April 10, 2019
JRE: 1.8.0_152-release-1343-b01 amd64
JVM: OpenJDK 64-Bit

[2019-05-14 07:37] efraespada commented on #43
`terminating with uncaught exception of type std::invalid_argument: odd length`

Not sure if the plugin is obfuscating at compilation time. I have found a possible error when running `./gradlew buildDebug -i`
[code]
It should have printed all the obfuscated values, but nothing was found.
Are you getting a similar output on your project for the same command?

[2019-05-14 09:16] AndroidDeveloperLB commented on #43
On which project? This:
https://github.com/StringCare/AndroidLibrary/issues/43#issuecomment-491572351

?
If so, it happens there too.
Log:

[code]

[2019-05-20 08:25] efraespada commented on #43
Yesterday I did multiple test with different versions of Android Studio, Android Gradle Plugin and Gradle in **Windows** and all builds worked without problems on my samples (Kotlin repo and development repo).

- Android Studio 3.4.1 | Gradle 5.1.1 | Android Gradle Plugin 3.4.1
- Android Studio 3.5.0 Canary 13 | Gradle 5.4 RC 1 | Android Gradle Plugin 3.5.0-alpha13
- Android Studio 3.5.0 Beta 1 |

[2019-05-20 08:27] AndroidDeveloperLB commented on #43
Have you tried the sample I've provided too?
What should I do now?
Is it a dead end?

I still get this crash on the sample I've provided:

[code]

Android Studio 3.4.1
Build #AI-183.6156.11.34.5522156, built on May 1, 2019
JRE: 1.8.0_152-release-1343-b01 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Windows 10 10.0

Tested on Pixel 2 with Android Q beta 3, and on HTC One M8 with Android 7

[2019-05-20 08:54] efraespada commented on #43
It seems your strings aren't obfuscated:

<img width="871" alt="Screenshot 2019-05-20 at 10 48 24" src="https://user-images.githubusercontent.com/1783618/58008539-e38c3d00-7aec-11e9-80a5-316e31be9891.png">
This command should help you to see the console output.

[code]

Also enabling debug logs could help us.

[code]

The related information appears next to **mergeResources** gradle task. You shou

[2019-05-20 09:03] efraespada commented on #43
When I compile your sample app, the strings are obfuscated:

<img width="773" alt="Screenshot 2019-05-20 at 11 02 35" src="https://user-images.githubusercontent.com/1783618/58009510-e7b95a00-7aee-11e9-8cc3-adae87f178dc.png">

So the error comes from the plugin. For some reason the plugin is not obfuscating strings.

With the debug output with could see if the strings are found (but not obfuscated)

[2019-05-20 09:08] AndroidDeveloperLB commented on #43
I ran a simple build&run. Not release build. I don't understand where you wish me to look at:

![image](https://user-images.githubusercontent.com/5357526/58009559-61554600-7af7-11e9-884d-dd6f38a42c1f.png)

Also tried the command you wrote:

![image](https://user-images.githubusercontent.com/5357526/58009619-86e24f80-7af7-11e9-9d2f-b5ecee162897.png)

Got a similar one on the terminal of the IDE:

!

[2019-05-20 09:31] efraespada commented on #43
Well, we need the debug output, it can say us what's happens with the plugin.

1º In your root `build.gradle` file:
[code]
2º In a terminal, run:
[code]

On the output, you must look for something like this:
[code]
--------------------------------------------------------------------------------
**Here is the error** 🙌 :
[code]
The plugin is looking for strings on the wrong place.

Today I will try

[2019-05-20 09:52] AndroidDeveloperLB commented on #43
I don't understand. You have a clue of why this occurs?
I didn't have the Java issue before. Why does it occur?

[2019-05-20 10:35] efraespada commented on #43
We are getting this on terminal (the plugin can't find the string resources):
[code]
And we should get this on terminal:
[code]
I'm gonna publish a new release with the bugfix.

[2019-05-20 10:38] AndroidDeveloperLB commented on #43
OK, please let me know when I can check a new version that has the fix.

[2019-05-20 10:54] efraespada commented on #43
Could you check the version **1.6**? 🤞

[2019-05-20 11:07] AndroidDeveloperLB commented on #43
Still same crash. Tried clean, re-build, invalidate cache, removal of "build" folders:

![image](https://user-images.githubusercontent.com/5357526/58017320-928a4200-7b08-11e9-825a-3079e96530c8.png)

[2019-05-20 11:10] efraespada commented on #43
Could you run `gradlew.bat buildDebug -i` and show me if resources are being obfuscated?
If the error persist, you should get something like this:
[code]
Add this to your root `build.gradle` file to enable debug logs:
[code]

[2019-05-20 11:26] AndroidDeveloperLB commented on #43
I already added  `debug true` , and running `gradlew.bat buildDebug -i` I got the Java issue.

[2019-05-20 11:38] efraespada commented on #43
If you already have the JAVA_HOME defined, the error disappear if you execute it from CMD. I’ve got the same error on the Android Studio terminal; on CMD it doesn’t happen

[2019-05-20 14:45] AndroidDeveloperLB commented on #43
OK it finally did something . Attached here the file after running:
[code]
[1.zip](https://github.com/StringCare/AndroidLibrary/files/3198416/1.zip)

[2019-05-20 14:53] AndroidDeveloperLB commented on #43
If you want , attached a video of this:

[2019-05-20_17-51-37.zip](https://github.com/StringCare/AndroidLibrary/files/3198451/2019-05-20_17-51-37.zip)

[2019-05-20 15:06] efraespada commented on #43
Perfect,
I see (from your output) your string resources are finally obfuscated:
[code]
Your app should compile and run without problems now.

If you run your app normally (clean + run), do you get any error?

[2019-05-20 18:59] AndroidDeveloperLB commented on #43
Seems to work at home. Hopefully will work at the office too.
But why did I have to use the command? Will I also have to do it for the large app?

[2019-05-21 07:01] efraespada commented on #43
Sincerely I'm not sure why Android Studio doesn't sometimes work correctly with the Gradle's wrapper, but this problem only happens at first builds.

It can happen on any project (with the large app too).

Once you have done the initial compilation, the project should run normally.

You can use the Gradle panel with all task If you don't want to use a terminal.

<img width="404" alt="Screenshot 20

[2019-05-21 07:09] AndroidDeveloperLB commented on #43
In the office, the sample project works, but not the large one. What should I do on this gradle window you've shown?

Running the `./gradlew.bat buildDebug -i` command resulted in this error:

[code]

[2019-05-21 07:21] efraespada commented on #43
Forget what I said about the Gradle panel, I've just checked it fails with Android Studio.

Not sure about this error, but seems Android Studio hasn't loaded the plugin properly. What versions of Gradle plugin and Gradle wrapper are you using?

I use:
- For stable channel -> 3.4.1 and 5.1.1.
- For beta/canary channel -> 3.5.0-beta01 and 5.4-rc-1

[2019-05-21 07:29] AndroidDeveloperLB commented on #43
I use this:

        classpath 'com.android.tools.build:gradle:3.4.1'

And it still crashes on the large app... :(
I tried project clean, rebuild, delete build folders, invalidate cache...

[2019-05-21 07:42] efraespada commented on #43
And the wrapper version?
I have this:
[code]

[2019-05-21 07:43] AndroidDeveloperLB commented on #43
I don't know what this is.
I used what I wrote on the sample app and it worked fine there. That's the standard way to use the gradle plugin.
How come it doesn't work well on the large app?

[2019-05-21 07:50] efraespada commented on #43
I don't know yet.
What I show you It's the `gradle-wrapper.properties` file, it defines which Gradle version Android Studio will use.
It's like a portable Gradle version for Android Studio projects.

For version 3.4.1 of the Gradle plugin, I use 5.1.1 Gradle version

[2019-05-21 08:04] AndroidDeveloperLB commented on #43
I see this in this file:

[code]

[2019-05-21 08:14] efraespada commented on #43
I think everything it's ok.
Try to delete the `.gradle` folder on your PC; mine is in `/Users/efraespada/.gradle/`.

[2019-05-21 08:19] AndroidDeveloperLB commented on #43
Already tried it. The content that I've sent you is after the deletion.

[2019-05-21 08:24] efraespada commented on #43
Anything to take in mind about your project? What are the diferences with the sample application?

[2019-05-21 08:29] AndroidDeveloperLB commented on #43
Huge amount of files (at least 1000 Java/Kotlin files), dependencies and a few modules inside the project...

:)

[2019-05-21 08:43] efraespada commented on #43
😅 you are right
I was wonder about the project basics. If the sample and the large app uses the same versions for Gradle, Gradle plugin, etc..

Have you tried to switch between different StringCare versions? For example:
- Define v1.2 and build
- Redefine v1.6 and build

[2019-05-21 08:57] efraespada commented on #43
Running `gradlew.bat :app:dependencies` you can see if stringcare dependency is added.

[2019-05-21 08:58] AndroidDeveloperLB commented on #43
I don't understand the suggestion.
There are just 2 configurations that I have:

1. ` classpath 'com.android.tools.build:gradle:3.2.1'` with `stringcare_version = '0.9'`

2. ` classpath 'com.android.tools.build:gradle:3.4.1'` with `stringcare_version = '1.5'`

Those are the only things that I change (and the code, because `SC.getString` was replaced with `SC.reveal` )

[2019-05-21 09:43] efraespada commented on #43
Switching versions often fix cached dependencies/plugins errors.

I don't know what more to suggest to you.

Try removing line `classpath "com.stringcare:plugin:$stringcare_version"` and `apply plugin: StringCare` and compile it.

Then implement StringCare again and build.

Next step I'm going to suggest you is restarting AndroidStudio and your PC 😅

[2019-05-22 06:59] AndroidDeveloperLB commented on #43
Tried now to remove, build, and re-add them with newer versions ,and then build&run.

Works now. I hope it will work on the mac too.

Why did I have to do this?

[2019-05-22 07:14] AndroidDeveloperLB commented on #43
And now it's back to not working, after a second run.
It's not fixed.

[2019-05-22 07:16] efraespada commented on #43
Are you getting a compilation error or an execution error?
What does it say?

[2019-05-22 07:21] AndroidDeveloperLB commented on #43
Seems same error as always (when running the app) :

[code]

[2019-05-22 07:23] AndroidDeveloperLB commented on #43
Say, why does the library need the support library :

https://github.com/StringCare/AndroidLibrary/blob/master/library/build.gradle

`    implementation 'com.android.support:appcompat-v7:28.0.0'
`

I think you should remove it.

[2019-05-22 07:33] efraespada commented on #43
I think the plugin hasn't found the string resources.

If you go to **Build > Analyze APK** you should see your APK's string resources with no obfuscation.

You can verify it from the console output at compilation time. The console output will help me to see what is finding the plugin.

I thought I fixed it:(
[code]
[code]

I added the `appcompat-v7` for the `SCTextView`. It extends the `AppCompat

[2019-05-22 07:46] AndroidDeveloperLB commented on #43
"Analyze APK" showed the string as they are. Not encoded/obfuscated .

About appcompat-v7, I see. You could at least switch to android-x, though.

[2019-05-22 07:56] efraespada commented on #43
Yeah, what I supposed. I take for granted you are using `v1.6` and the plugin is getting a wrong path to find string resources.

Maybe the first builds find the correct path, but the next one uses a wrong path.

At compilation time, you should get something like this (enabling `debug true` in the SC options):
[code]
Where is the plugin looking for strings on your project?

About the Android-X swit

[2019-05-22 08:06] AndroidDeveloperLB commented on #43
Well I forgot to use `reveal` for all files instead of `getString`, so maybe it worked fine till I replaced all, which is a fake "working fine".

The `debug true` is already there. Where should I look for the text you wrote? In the "build" window of the IDE ?  If so, I've copied it all into text editor, and I couldn't find the word "backupStringResources" or "source folder" anywhere inside it.

Ab

[2019-05-22 08:34] efraespada commented on #43
The plugin runs the `backupStringResources` task before `mergeResources` task is fired.

When you run your app having a previous build folder, and there is no change in the `res` folder, the Android Gradle plugin doesn't fire the `mergeResources` task; it's skipped.

That's why I clean the project and run it again for the resource obfuscation testing.

Do this:

1º Clean project
2º From an externa

[2019-05-22 08:39] AndroidDeveloperLB commented on #43
Can I send you via email, to make it more private (it's from the office app...)...?

[2019-05-22 08:41] efraespada commented on #43
Of course. My email is **efraespada@gmail.com** :)

[2019-05-22 08:47] AndroidDeveloperLB commented on #43
ok sent. Please continue via email.

[2019-05-23 08:47] efraespada opened #51 "Strings with new-line doesn't get restored correctly"
[code]
[StringCareTest.zip](https://github.com/StringCare/AndroidLibrary/files/3211261/StringCareTest.zip)

[2019-05-23 08:55] efraespada commented on #51
@AndroidDeveloperLB
Does the plugin work only with **name** and **hidden** attributes?

[2019-05-23 09:14] efraespada opened #52 "Strings with the same content doesn't work properly"
With two strings with the same content, only the first one is obfuscated. The second returns junk chars.
[StringCareTest.zip](https://github.com/StringCare/AndroidLibrary/files/3211261/StringCareTest.zip)

[2019-05-23 09:19] efraespada commented on #43
I close this issue in order to continue with other bugs from its issues.
#51 New-line bug
#52 Strings with the same content bug

[2019-05-23 09:19] #43 closed, assigned to nobody

[2019-05-28 07:37] efraespada commented on #51
Android converts `enter` keys to a simple white space.
The `normalA` and `normalB` string keys contain the same value for the Android system.
[code]
There are some differences using StringCare:
[code]

- After the reveal process, the `obfuscated` string key will return `Hello there.[original tab space]General Kenobi![original tab space]`.

- The `normal` string key will return `Hello there. Genera

[2019-05-28 07:45] efraespada commented on #52
Since `v2.2` it has been patched, but this issue **needs work**

[2019-05-28 07:49] AndroidDeveloperLB commented on #51
That's incorrect to close it.
When the string is too long, and you format the XML via the IDE, it adds new-line (which is actually white space). It can even happen in the beginning of the string.

Using the normal `getString` (without the "hidden" attribute of course) will ignore it, while `SC.reveal` will assume it's a part of the string.

This is still a bug.
StringCare should handle the string

[2019-05-28 08:22] efraespada commented on #51
I'll try to fix that case on the next update. Meanwhile, use `v0.9`.

With the Android logic, your final value (I suppose) should be like this:

[code]
From this:
[code]

[2019-05-28 08:24] AndroidDeveloperLB commented on #51
Thank you.

[2019-05-30 09:40] efraespada opened #55 "The dependency contains Java 8 bytecode. Please enable desugaring by adding the following to build.gradle"
[code]

[2019-06-11 08:56] AndroidDeveloperLB commented on #51
Is this fixed? I've noticed there is a new version...

[2019-06-11 08:56] AndroidDeveloperLB commented on #52
Is this fixed? I've noticed there is a new version...

[2019-06-11 17:50] efraespada commented on #52
Not yet

[2019-06-11 17:50] efraespada commented on #51
Not yet

[2019-06-11 17:57] AndroidDeveloperLB commented on #52
Oh ok.
Thank you.
Please update me when it gets fixed.

[2019-06-11 17:57] AndroidDeveloperLB commented on #51
Oh ok.
Thank you.
Please update me when it gets fixed.

[2019-06-17 01:34] efraespada commented on #51
@AndroidDeveloperLB check out `v3.0`.
Related to this issue: Now by default the plugin process strings like the Android system, so the password you use should be the same as the original.

[2019-06-17 01:35] efraespada commented on #52
@AndroidDeveloperLB check out `v3.0`.
This issue should be solved.

[2019-06-17 01:38] efraespada commented on #18
Fixed on `v3.0`.

[2019-06-17 01:38] #18 closed, assigned to efraespada

[2019-06-17 06:54] AndroidDeveloperLB commented on #52
Seems to be fixed according to my tests.
However, when I use the library on the large project, I get this:

[code]
Please explain why this occurs when using this repository.

EDIT:
I added this to the app's gradle file:

[code]

But then I get this:

[code]

I tried to delete all "build" folders. Also tried to invalidate cache. Didn't help.

[2019-06-17 07:29] AndroidDeveloperLB commented on #51
Seems to work on the sample test project I've made, but what is [this](https://github.com/StringCare/AndroidLibrary/wiki/Limitations):

The first I can't confirm. It still works fine. See attached file:

[StringCareTest.zip](https://github.com/StringCare/AndroidLibrary/files/3295658/StringCareTest.zip)

I don't understand the second one, but I get this issue instead, even before making a release v

[2019-06-17 07:56] efraespada commented on #52
I think this type of message means an external dependency is being added multiple times. This article in StackOverflow talks about it:
https://stackoverflow.com/questions/49676155/what-does-program-type-already-present-mean/49767860

In our case:
[code]
You should solve it by implementing the library excluding that package:
[code]
Or:
[code]
I haven´t tested it.

[2019-06-17 08:13] efraespada commented on #51
- `Obfuscation fails when there are comments on XML files`
This was an error caused by the old XML reader method. It has been fixed.
- `Compiled published libraries (i.e. jcenter()) with obfuscated strings won't work properly; the original fingerprint is needed.`
Libraries uses the main module's fingerprint. If you publish and use a library, it won't use the same fingerprint as used when was compi

[2019-06-17 08:34] AndroidDeveloperLB commented on #52
I tried adding this:

[code]

And also this:

[code]

And I ran this:

`./gradlew clean cleanBuildCache :app:assembleDebug
`
Still I have the same issue:

[code]

I just noticed that I'm on "release" build. When switching to "debug" build, I can see more information. There is this conflict:

![image](https://user-images.githubusercontent.com/5357526/59589811-6ce65d80-90f3-11e9-8ff8-ca5ccc656e75.pn

[2019-06-17 08:35] AndroidDeveloperLB commented on #51
So if it's fixed, I think you should remove it.

About the fingerprint, I don't understand. You mean that if I use this repository in a different Android-library that I want to publish as a repository that others will use? You mean that in this case, it might not work? Or that it will just work differently?

[2019-06-17 08:41] efraespada commented on #52
I'm seeing the correct module name (with conflict) is `commons-lang3`, so you sould use:
[code]

[2019-06-17 08:55] AndroidDeveloperLB commented on #52
Now it finally builds, but then I have a new issue. As soon as I call `SC.reveal(R.string.something)`, I get this crash:

[code]

So I think it still can't handle strings as the native string handling on Android.
I think this should be posted on a new issue though. It's not related to the original issue we talked about here.

[2019-06-17 09:51] efraespada commented on #52
Looks like the value of `R.string.something` string is `...`, and that's wrong.

Analyze your APK for ensuring the plugin obfuscates strings: `Build` > `Analyze APK`

You can test it too by calling `getString(R.string.something)` and check what returns.

Should return something like: `123, -4, 45, 67, -56, 3, 27..`

[2019-06-17 10:03] AndroidDeveloperLB commented on #52
It's not really "...". I changed it because it's a private key :)

Putting this string into the sample I've made, it works perfectly fine.

However, when using the `Analyze APK` on the large app, I don't see just numbers. I see the original string.

[2019-06-17 11:13] efraespada commented on #52
I think it's a configuration problem and StringCare plugin doesn't find valid resource files.

Is your string located on the default folder/file?
I mean the "default" string resource is `src\main\res\values{any_locale}\strings.xml`.

If your resource file is not called `strings.xml` you'll have to configure StringCare for reading more file names.

Also If your string resource is located on a diffe

[2019-06-17 11:19] AndroidDeveloperLB commented on #52
That's true. Strings files are sent to translators, so it's bad to send them the keys too.
We have the special strings in a different file: "keys.xml".

However, we had it already set up on the previous versions of the library, as such:

[code]

It's not correct anymore ?

[2019-06-17 11:39] efraespada commented on #52
You use a Windows platform and the `srcFolders` array could be breaking the compilation.
I mean:
[code]
Try without the `srcFolders` var, the default config for the source folder should be enougth:
[code]
You can try too:
[code]

[2019-06-17 11:59] AndroidDeveloperLB commented on #52
We use both MacOS and Windows.
And it's not true that Windows can't use "/". And it's on gradle, so it has its own language.
Also, as I wrote, it worked fine on the old version of Stringcare that we used before .
But I've tried just for seeing if it helps.

Removing the `srcFolders = ['src/main']` or replacing it with the `srcFolders = ['src\\main']` line causes the app not to be built, showing me

[2019-06-17 12:27] efraespada commented on #52
Have you tried this?
[code]
Note the double quotes `"` instead of `'`

[2019-06-17 13:47] AndroidDeveloperLB commented on #52
Using `srcFolders = ["src\\main"]` got the same issue (plus I don't think it would have worked anyway on MacOS).

Using `srcFolders = ["src\main"]` got me this isssue:

![image](https://user-images.githubusercontent.com/5357526/59609038-4a6a3980-911f-11e9-8d7e-431789ebe99e.png)

Using `srcFolders = ["src/main"]` , it was built fine, but crashed at runtime with the NumberFormatException as before.

[2019-06-17 14:38] efraespada commented on #52
I don't know what's happening.
The `KotlinSample` project uses a similar configuration:
[code]
And it works fine in Windows.

[2019-06-17 14:46] efraespada commented on #52
I noticed I had to delete manually the `build` folder (`clean` task doesn't remove all files and subfolders)

[2019-06-17 16:21] efraespada commented on #52
I confirm this configuration works on macOS and Windows:
[code]
Ensure you delete the build folder completely.

[2019-06-18 10:40] AndroidDeveloperLB commented on #52
OK so I used this the next lines and deleted all "build" folders manually after closing the IDE :

[code]

And I got this error (after running the IDE again and trying to build&run the app)  :

[code]

And if I use the next thing again, but with deletion of "build" folders, it still crashes :

[code]

[2019-06-19 00:35] efraespada commented on #52
I'm working on path treatment.

Meanwhile, you can try calling `toString()` method over the text template:
[code]

[2019-06-19 06:36] efraespada commented on #52
There is a new release (v3.1)

- You can use the unix separator char `/` on Windows too.
[code]
- Added two Gradle tasks for tracing and solving possible bugs or configurations. Checkout the [Task page](https://github.com/StringCare/AndroidLibrary/wiki/Tasks).

[2019-06-19 07:43] AndroidDeveloperLB commented on #52
I still get the same `Android resource linking failed` errors , whether I use `"src${File.separator}main".toString()` or `srcFolders = ["src/main"]` .

I tried to delete all "build" folders too. Didn't help.

The 0.9 version could handle the paths fine. Are you sure that's the cause to the issue?
What do you want to do with the tasks you've pointed to, exactly? I think such a thing should be conta

[2019-06-19 08:27] efraespada commented on #52
I'm not sure because on my projects always works and pass all the tests (on Windows and macOS).

The new tasks shows too much info about the obfuscation process (located files for the given configuration, fingerprint, obfuscation test..) and should help you to find what fails.

You can send it to my mail.

Remember to add a variant with the `stringcareTestObfuscate${variant}` task.

[2019-06-19 09:23] AndroidDeveloperLB commented on #52
I know. The POC works fine too. I have no idea why this doesn't work on the large app.
The link doesn't say about adding stringcareTestObfuscate variant.
Do you mean adding something like that:

[code]

[2019-06-19 13:32] efraespada commented on #52
### stringcareTestObfuscate{$variant} task

No, no. It works as the `build` Gradle task:
[code]
If you run `gradlew.bat signingReport` you will see all the available variants for your project.

### stringcarePreview task
I recomend to run this task too. It doesn't need any variant and could be helpful for solving the problem, or at least to notice what's wrong.

You can see an output sample of bot

[2019-06-19 19:01] AndroidDeveloperLB commented on #52
So how do I add one for StringCare exactly?
Please just explain what to do.

[2019-06-19 19:32] efraespada commented on #52
I told you where it's explained:

I thought you read it.

[2019-06-19 19:42] AndroidDeveloperLB commented on #52
I've read it, but I don't understand why I don't see the task on the IDE, so I thought that maybe I need to add the task.
Please explain.
Should I just run a command?

[2019-06-19 20:53] efraespada commented on #52
Yes. Run the command on terminal, in the project's directory.

[2019-06-23 06:54] AndroidDeveloperLB commented on #52
OK I've sent you via email

[2019-06-23 11:36] efraespada commented on #52
You only have sent the `stringcarePreview` task report, and seems to be ok. Files and strings are found.
Whats shows the `stringcareTestObfuscate${variant}` task?
Choose an existing BuildVariant for this value:
Ex:
[code]

[2019-06-23 12:10] AndroidDeveloperLB commented on #52
You can write me this on email...
Anyway, sent again, this time with the output of this command.

[2019-06-24 07:55] AndroidDeveloperLB commented on #52
Found how to fix it, but it doesn't mean the issue isn't here.
I've fixed it by removing the part that lets StringCare handle "strings.xml" file.
The reason:
We don't even need it to scan this file. Only "keys.xml".
So what I have is this:

[code]

Now it works fine, I think.
The reason the issue exists, though, is that the library ruins the resources of "strings.xml" files, even though there is n

[2019-06-24 11:30] AndroidDeveloperLB commented on #52
I've noticed that it still can have issues.
We have 2 kinds of versions for the app (using build-variant), and StringCare didn't return the correct value of one of the strings in "keys.xml" correctly on the other version, so I get Gibberish instead.

I tried this (based on : https://github.com/StringCare/AndroidLibrary/wiki/Configuration#additional-resource-folders )  :

[code]

so I tried to rena

[2019-06-24 11:45] efraespada commented on #52
I'll review why it fails with your `strings.xml` file.

About the other issue you mentioned, if I understood, do have you something like this? (for example)

1º `src/main/.../keys.xml`:
[code]

2º `src/the_other_app_variant/.../keys.xml`:
[code]

[2019-06-24 13:01] AndroidDeveloperLB commented on #52
Yes, the files are are such:
app\src\main\res\values\keys.xml
And:
app\src\the_other_app_variant\res\values\keys.xml

[2019-06-24 13:15] efraespada commented on #52
With the following configuration:
[code]
I get the normal error response for duplicating resources:
[code]
And the project can't compile.

[2019-06-24 13:18] AndroidDeveloperLB commented on #52
Why did you configure `sourceSets ` ? It should work fine without it.
I already wrote it's a different variant of the same app. The second variant should use the strings with priority of itself. Meaning that in the example you wrote, the string of `grievous` will be `General Kenobi 2` and not the other one.

[2019-06-24 14:01] efraespada commented on #52
You have to configure the `sourceSets`.

- `src/main/.../keys.xml`:
[code]

- `src/the_other_app_variant/.../keys.xml`:
[code]

With no configuration you will get this error because in code you use `R.string.kenobi` and it's not included in the default folder `src/main/res`:
[code]
Android Studio (at compilation time) only knows the default configuration, which is the following:
[code]
You can def

[2019-06-24 17:31] AndroidDeveloperLB commented on #52
That is incorrect. Both apps worked fine for years. The resources are shared between them, and one overrides the other. In addition, as I wrote before, StringCare worked fine with both apps on v0.9.

It even says it's automatic on the link you gave:

There are no issues of "Duplicate resources" , not when we used v0.9 of StringCare, and not when we didn't use it at all.

Can you please explain wha

[2019-06-24 21:44] efraespada commented on #52
You should try to read the documentation better xD

Between what? Resource files from the same sourceSet? Please explain me

I don't understand anything hahaha

---------

You haven't read the documentation well.

sources. Because Gradle gives these directories equal priority, **if
you define the same resource in more than one directory, you get an
error when merging resources. The default directo

[2019-06-24 21:44] #52 closed, assigned to efraespada

[2019-06-25 06:29] efraespada commented on #52
I tried to create an empty project (without StringCare) and define two simple `strings.xml` files with the same resource identifier.

[code]
[code]
The additional string file isn't detected until I add this:
[code]
And after that, I got the `Duplicate resources` error:

![test](https://user-images.githubusercontent.com/1783618/60074409-244a2800-9723-11e9-8545-dbd82ca85c84.PNG)

You can check it in

[2019-06-25 07:57] AndroidDeveloperLB commented on #52
I don't see in your sample project that you can choose between 2 build variants of apps :

![image](https://user-images.githubusercontent.com/5357526/60077773-63807500-9733-11e9-905c-8f1f1d0ded43.png)

and removing the part of `sourceSets ` didn't affect anything. Still works fine.
You also didn't set `productFlavors`. Also just one package name, which doesn't make sense if you want to make 2 diff

[2019-06-25 09:46] efraespada commented on #52
I closed the issue because it’s solved.
On the other side you try to understand how sourceSets works and it doesn’t have any relation with StringCare.

My last comment proves it.

[2019-06-25 09:53] AndroidDeveloperLB commented on #52
I didn't ask about sourceSets . I don't even use it. I said you don't need it for app flavors.
If it's not related to StringCare, please explain why it causes issues when trying to use StringCare, while building&rnning a different flavor.
I don't know what exactly "proves it", and what is "it" that was proven. The last comment doesn't have a sample code of flavors at all, so I showed a sample that

[2019-06-25 10:34] efraespada commented on #52
It proves that (without StringCare) wrong configurations causes build errors.

You don't (want to) understand anything hahaha
If you run TestApp.zip this is the first you get running the app, but you don't say it ;)
[code]
Say whatever you want, but it fails without using StringCare.

----------------------------------------------------------------------------------------------

You can do a secon

[2019-06-25 10:40] #51 closed, assigned to efraespada

[2019-06-26 06:47] AndroidDeveloperLB opened #58 "Bug: cannot handle build variants properly"
Might be related to [this issue](https://github.com/StringCare/AndroidLibrary/issues/39).

I tried to make a sample that uses build-variants, and I still fail to do it.
I used all articles about it, and looked at samples too.

Even so, what I got to have is either not showing the strings correctly, or crashes (during runtime or errors while building).

That's even though without StringCare all wor

[2019-08-03 20:36] ilyasdirin commented on #58
Same issue in my case too.

[2019-08-03 20:41] efraespada commented on #58
It will be fixed as soon as possible. Meanwhile, you can use v0.8

[2019-08-05 11:02] ilyasdirin commented on #58
version 0.8 is not available. I was using 0.9 version but this version is also not able to work with Gradle 3.4.2. It does not apply plugin with Gradle 3.4.2.

[2019-08-05 11:10] AndroidDeveloperLB commented on #58
Guys we talked about this already.

[2019-08-05 11:26] ilyasdirin commented on #58
Please share the related link with me if there is any available solution for this.

[2019-08-05 11:30] AndroidDeveloperLB commented on #58
There is none, except either use old gradle version with 0.9 version of this library, or use nothing.

[2019-08-06 12:40] efraespada commented on #58
By the moment the SC plugin uses the default application id defined in the main module for obfuscating string resources.

When some `buildType` or `flavor` modifies the application id, SC can't reveal strings at runtime.

I'm currently working on it.

[2019-08-06 12:48] AndroidDeveloperLB commented on #58
Note that no matter which approach you use, nothing is 100% protected, and it will always be possible to find the real keys.
Those kind of tools only make it harder, just like any security measure.

[2019-08-06 16:54] efraespada commented on #58
Now you can check `v.3.2`. I've update the [configuration page](https://github.com/StringCare/AndroidLibrary/wiki/Configuration).

I'm sorry for the delay, @AndroidDeveloperLB

[2019-08-06 17:26] AndroidDeveloperLB commented on #58
@efraespada Is it really ready? Does it work with all cases I've shown you?

[2019-08-06 17:38] efraespada commented on #58
Yes. With the sample you provided in this issue:

Update

`ext.stringcare_version = '3.2'`

and

[code]

[2019-08-07 06:56] ilyasdirin commented on #58
I am getting following error with newer versions while compiling in Macbook. I am only able to build your project in Windows. Have you ever face with this issue? Because I could not solve this issue I haven't test version 3.2 yet.

* What went wrong:
Execution failed for task ':app:mergeDebugResources'.

       Referenced from: /private/var/folders/xr/4scbt94d1yg27l6z1868nlsr0000gn/T/libsignKey.dy

[2019-08-07 07:15] AndroidDeveloperLB commented on #58
So I shouldn't try it then. I have Windows, but we also have a Mac...

[2019-08-07 07:22] efraespada commented on #58
@ilyasdirin I don't know the reason. If it happens with v3.2 open a new issue with the message error.

@AndroidDeveloperLB read the configuration documentation and test the version, @ilyasdirin haven't tested it yet.

[2019-08-07 07:24] AndroidDeveloperLB commented on #58
@efraespada I don't have a Mac. I can't test it so easily. Please let me know if this issue is fixed too.

[2019-08-07 07:33] efraespada commented on #58
It can be tested without problems on Windows too.

By the moment I'm running v3.2 on multiple Windows and Mac.
I also took care of passing all the tests.

[2019-08-07 07:37] AndroidDeveloperLB commented on #58
@efraespada But he wrote that it works fine on Windows, yet not on Mac.

[2019-08-07 07:44] efraespada commented on #58
I understood he hasn't tested v3.2 yet 😅

It could be an error from v2.x

[2019-08-07 07:45] AndroidDeveloperLB commented on #58
Oh sorry. So what was tested? I was sure we talk about latest version...

[2019-08-07 07:57] efraespada commented on #58
No idea, I understood a recent version before the latest.

Anyway, your sample project is running fine on Windows and Mac with v3.2

[2019-08-07 07:57] ilyasdirin commented on #58
I haven't tested version 3.2 on both Windows and Mac yet. I have a problem with MAC build and I do not have my Windows laptop with me :) I will be able to test it on Window tonight in 8 hours. Probably this build error could be from v2.x because I had faced this issue with older versions before I had checked the plugin.

[2019-08-07 08:07] AndroidDeveloperLB commented on #58
So I think he meant he tested 3.2 on Mac alone so far.

[2019-08-08 08:03] ilyasdirin commented on #58
I tried it on Windows machine but I was not able to make it work. It encrypts strings but does not decrypt on runtime.

this is my flavors and package name distribution; imagine that my package name is "com.app.mobil"

[code]

So my configuration will be;

[code]

And also in macbook I got this error that I haven't found a solution yet. So if I solve this I will prepare a case that I explained abo

[2019-08-08 08:05] AndroidDeveloperLB commented on #58
@ilyasdirin Can you please also try the sample I've prepared on both OSs ?

[2019-08-08 08:13] efraespada commented on #58
It's strange. Apparently, (I think) the error says the `Stark` class is not in the SC package.
[code]
Could you provide us a basic sample with that error?

[2019-08-08 08:38] ilyasdirin commented on #58
@efraespada I got the exact same error with your kotlin sample. I just clone it and when I build it I got this error.

@AndroidDeveloperLB which sample do you mean? Pls supply the sample link.

[2019-08-08 08:44] efraespada opened #60 "java.lang.NoClassDefFoundError: Could not initialize class components.Stark"
Just cloning this [repo](https://github.com/StringCare/KotlinSample) and building the project, we get this error:
[code]

[2019-08-08 08:47] efraespada commented on #58
I think it's a different error.
I've created a [new issue](https://github.com/StringCare/AndroidLibrary/issues/60).

@AndroidDeveloperLB could you confirm me you are not getting any error when building with v3.2?

[2019-08-08 08:58] efraespada commented on #60
@ilyasdirin I cloned the repo again.
The sample project is building without problems on my computer.
Have you tried to invalidate the Android Studio cache and restart it?

[2019-08-08 09:08] ilyasdirin commented on #60
@efraespada I tried many times with clear, invalidate even macbook restart. I think it may uses some kind of java library because when I build it in windows it asks for java permission. can that libraries may be missing in mac?

[2019-08-08 09:13] AndroidDeveloperLB commented on #58
@ilyasdirin The sample is on the first post of this thread.
It has 2 projects. One with StringCare and one without.
You should try the one with StringCare, and update it to the latest version.

@efraespada As I wrote, I don't have a Mac. Someone else here has it, and it's hard to reach him and request him to try it out.

[2019-08-08 09:14] efraespada commented on #60
It shouldn't.
The SC plugin uses native libraries (`dll` and `dylib`), which are loaded in the `Stark` class.
Dependencies on plugin:
[code]
The stranger thing is that it is not working in both systems (Windows - MacOS).

[2019-08-08 21:25] ilyasdirin commented on #58
@AndroidDeveloperLB I got the exact error from your project so I am not able to test it on macbook.

[2019-08-10 11:22] AndroidDeveloperLB commented on #58
@ilyasdirin Thank you for trying.

[2019-08-12 10:27] efraespada commented on #58
I've tested your sample on two new different Windows computers and it's working fine 👌
[MyApplication_v3_2.zip](https://github.com/StringCare/AndroidLibrary/files/3491877/MyApplication_v3_2.zip)

[2019-08-12 10:29] AndroidDeveloperLB commented on #58
Guys, please tell if it's working on both OSs.

[2019-08-12 10:40] efraespada commented on #58
Yes.

2 different MacOS
4 different Windows

All the tests passing and all the samples working

[2019-08-12 10:51] AndroidDeveloperLB commented on #58
@efraespada If you talk about the sample I've provided, and the version 3.2 , it still doesn't work .
See attached video and updated project.
Tested on Windows.
[MyApplication.with.StringCare.zip](https://github.com/StringCare/AndroidLibrary/files/3491950/MyApplication.with.StringCare.zip)

[2019-08-12_13-49-46.zip](https://github.com/StringCare/AndroidLibrary/files/3491951/2019-08-12_13-49-46.zip

[2019-08-12 11:35] efraespada commented on #58
It's very frustrating you don't read my comments and the documentation.

3 comments where I explain you need to add more configuration to the project to made it work.

[2019-08-12 11:50] AndroidDeveloperLB commented on #58
Oh I see now.
Are there any other known issues ?
And you are sure it works fine on MacOS?
I ask because the large app is the one that caused me to find all of the issues I reported you over the past few months.

[2019-08-16 09:43] efraespada commented on #60
@ilyasdirin did you build the app with ProGuard or R8 enabled?

[2019-08-16 19:54] ilyasdirin commented on #60
@efraespada no I do not build app with ProGuard or R8. But if I achieve to build it I will eventually use it with proguard but for now I am not able to build it without proguard and R8.

[2019-08-19 10:09] AndroidDeveloperLB commented on #58
OK I've tested on the large app at the office. Seems to work now.
Why do you need the "applicationId" though? You already have the paths of the variants...
Actually , why do you need the srcFolders ? Isn't it possible to get all variants and their source folders?

[2019-08-19 10:10] AndroidDeveloperLB commented on #58
I wanted to close this issue, but I will keep it open for when we get the chance to try on MacOS.

[2019-08-19 11:42] AndroidDeveloperLB commented on #58
OK found 2 issues:
1. On the large app, while on release mode all works fine, on debug mode it returns incorrect strings.

2. On the POC I've made, I actually see the opposite. Debug mode works fine, and release mode doesn't.

Attached the POC after I've applied the changes:

[MyApplication.zip](https://github.com/StringCare/AndroidLibrary/files/3515666/MyApplication.zip)

[2019-10-10 21:23] jiriklobasa commented on #60
Did you find a solution to overcome this error @ilyasdirin?
Same happens to me with the latest version 3.5, tried on Mac OS 10.13.6 with Android Studio 3.5.1.
Any ideas @efraespada ? I have noticed that it happens just when you specify `stringFiles`option.

[2019-10-14 11:37] efraespada commented on #60
Hi @jiriklobasa

Does this error only happen when `stringFiles` property is defined?

Are you getting any other error like this one?
[code]

[2019-10-17 10:17] jiriklobasa commented on #60
Hey @efraespada, yeah, from time to time this also appears. But when you clean the project up and rebuild it always ends with the `java.lang.NoClassDefFoundError: Could not initialize class components.Stark` error.
Just to add the statement - `stringFiles` property does not have impact on the error. You can just simply put an entry in `strings.xml` file with `hidden="true"` attribute and it crashe

[2019-12-19 18:31] klozMobile commented on #60
I do

[2019-12-26 18:07] efraespada commented on #60
@klozMobile are you using a macOS system?
If that's the case, have you recently upgrade your system?

[2019-12-30 14:20] MostafaAnter opened #65 "java.lang.NoClassDefFoundError: Could not initialize class components.Stark"
[code]

[2019-12-30 14:26] MostafaAnter commented on #60
<img width="1447" alt="Screen Shot 2019-12-30 at 4 26 13 PM" src="https://user-images.githubusercontent.com/9489649/71585983-230a1580-2b21-11ea-89af-1911aef45f00.png">
Same problem with me

[2019-12-30 15:13] MostafaAnter commented on #60
@efraespada yes I'm using macOS catalina

[2019-12-30 21:44] MostafaAnter commented on #60
after many trying, I think this problem com when to add **cpp** folder and add some native code to project I think there is some conflict with your project native code and our project I hope that help thanks in advanced

[2019-12-31 01:20] efraespada commented on #60
@MostafaAnter you are right. I've created a native C++ project and added SC. It returns the `java.lang.UnsatisfiedLinkError` error at runtime.

SC uses the default name for the native library (`native-lib`) and your native library overrides it.

I've just released [`v3.6.2`](https://github.com/StringCare/AndroidLibrary/releases/tag/v3.6.2) with a different native library name.

Thank you so much @

[2019-12-31 10:01] MostafaAnter commented on #60
@efraespada so far so good now I can **reveal** and **obfuscate** any text on kotlin files but I still can't do **hidden** to my strings on res folder so this error show to me `Library not loaded: /usr/local/opt/boost/lib/libboost_system.dylib`
![Screen Shot 2019-12-31 at 11 58 11 AM](https://user-images.githubusercontent.com/9489649/71617723-09220e80-2bc5-11ea-87e0-367a7fde1a27.png)
now I guess t

[2019-12-31 10:09] #65 closed, assigned to nobody

[2019-12-31 16:51] efraespada commented on #60
I think It's an error on the G++ compiler flags, some native libraries were not included in the SC native lib for macOS systems.
@MostafaAnter try with [`v3.6.3`](https://github.com/StringCare/AndroidLibrary/releases/tag/v3.6.3).

[2020-01-02 18:11] guillermog888 commented on #60
Hi @efraespada, I have the same problem and I downloaded v3.6.3 but I have the same error whit v3.6.2

Library not loaded: /usr/local/opt/boost/lib/libboost_system.dylib
  Referenced from: /private/var/folders/rd/d5t6kngn69b4czf58f_8cxtr0000gn/T/libsignKey.dylib682191099424347482

[2020-01-03 18:19] efraespada commented on #60
Could you try [`v4.0.0`](https://github.com/StringCare/AndroidLibrary/releases/tag/v4.0.0)?
There is a [new implementation](https://github.com/StringCare/AndroidLibrary/wiki/Implementation), the plugin is applied per module:
[code]

[2020-01-07 23:34] guillermog888 commented on #60
Hi @efraespada the v4.0.0 works for me but i have one question im trying to obfuscate the strings but the project have different project modules and i can't obfuscate the string of the others modules thanks

[2020-01-24 15:17] Narvelan opened #72 "compileSdkVersion is not specified"
try to update version SC from 0.7 to 4.0.0
replace old Implementation from https://github.com/StringCare/AndroidLibrary/wiki/Implementation
18:17	Gradle sync failed: **compileSdkVersion is not specified.** (1 s 317 ms)
How to fix it? =)

[2020-01-30 11:49] efraespada commented on #72
I don't understand. Have you defined the `compileSdkVersion`?

[2020-01-30 11:55] efraespada commented on #60
@guillermog888 I think that's because the plugin only controls (by the moment) the application module:
[code]
I'll try to fix that.

[2020-01-30 11:59] efraespada commented on #58
It should handle all the build variants properly on the application module. Now, the plugin controls all the applicationIds.

[2020-01-30 11:59] #58 closed, assigned to efraespada

[2020-01-30 12:04] efraespada opened #73 "Library Support"
Currently the library modules aren't supported.

[2020-01-30 12:06] efraespada commented on #60
@guillermog888 I've created another issue with that problem:

[- Library Support](https://github.com/StringCare/AndroidLibrary/issues/73)

I close this one.

[2020-01-30 12:06] #60 closed, assigned to efraespada

[2020-01-30 18:46] guillermog888 commented on #73
hi @efraespada i try to make the plugin ofucascate all the string modules but whit the first try i put the stringcare configuration in all gradle of the modules and apply the stringcare plugin to all but only works for the first module and if i delete the configuration for that module works for the next but the ofuscate the original string.xml then i try to make a deferent configuration i make the

[2020-02-14 15:28] vidicunt opened #74 "Obfuscation library"
Would it be possible to have a different obfuscation dictionary for each different build?

[2020-02-14 16:10] vidicunt opened #75 "Gradle crash"
Gradle always crashes while using this obfuscator:
Gradle build daemon disappeared unexpectedly (it may have been killed or may have crashed)

[2020-02-24 14:45] AndroidDeveloperLB commented on #58
@efraespada I don't understand now how to use it. Were there serious changes that should break the sample and require removal/adding of something?

Attached sample after updating version to 4.0.0 ..

[MyApplication.zip](https://github.com/StringCare/AndroidLibrary/files/4245074/MyApplication.zip)

[2020-05-12 13:50] efraespada commented on #74
There is no obfuscation dictionary, I think you mean a different obfuscation result per build.

I think it's possible to do, but if you store obfuscated data (ex. SharedPreferences), the library won't be able to reveal the obfuscated data in the next release.

[2020-05-12 13:53] efraespada commented on #75
Could you give me more information about the issue?

SC version, config used, log trace...

[2020-05-12 13:56] efraespada commented on #72
I suppose everything is ok. Reopen the issue for similar problems

[2020-05-12 13:56] #72 closed, assigned to nobody

[2020-05-12 14:03] efraespada commented on #73
I'll check the `stringcareTestObfuscate` task, but for now, **only** the `app` module can be obfuscated.

All the complementary modules can't be obfuscated right now

[2020-05-22 07:49] jimlyas opened #76 "Resource not found"
This is the log
![image](https://user-images.githubusercontent.com/33854739/82644310-50c03a00-9c3b-11ea-999b-3f68f84a6761.png)

And this is my build.gradle (app) :
![image](https://user-images.githubusercontent.com/33854739/82644375-69c8eb00-9c3b-11ea-9a2f-1ef77721feff.png)

I am using version 4.0.0, please help @efraespada

[2020-05-31 01:00] efraespada commented on #76
@jimlyas
What resource is not found? The `strings.xml` is detected with your current SC config (the default).

The `sourceSets` config also seems to be the default, so you can remove it.

So you only need this:

[code]

If you want to add more files:
[code]

[2020-05-31 01:08] efraespada commented on #76
Also, I recommend you to use the `FileInputStream` as a separate field and `close()` the stream after load it in the `Properties` object.

[code]

[2020-06-07 07:21] jimlyas commented on #76
thanks, it worked...  :)

[2020-06-07 07:21] #76 closed, assigned to efraespada

[2020-06-27 22:52] #74 closed, assigned to efraespada

[2020-06-29 06:38] gistdoit opened #77 "Task 'stringcareTestObfuscateDebug' not found in root project"
Building APKs is not obfuscating with the 'hidden="true"' attribute in strings.

Version 4.0
Default config
Log:
[code]

Help?

[2020-06-30 07:59] efraespada commented on #77
It's because Gradle doesn't find the task you are running; the documentation was not up to date, sorry.
I've updated the [documentation](https://github.com/StringCare/AndroidLibrary/wiki/Tasks).

Run `gradlew.bat stringcareTestObfuscate` and the plugin will test all the variants.

If it doesn't work, check all the available tasks:
`gradlew.bat tasks --all`

[2020-06-30 08:04] efraespada commented on #77
I've also updated the [KotlinSample](https://github.com/StringCare/KotlinSample) project for using the latest versions of plugins and the APK build seems to work fine.

[2020-07-01 09:00] kawpii commented on #77
@efraespada Side Question: Why not migrate the project to Kotlin?

[2020-07-01 09:09] efraespada commented on #77
@kaushalyap all the SC projects are typed in Kotlin 🤔
(except for one which is obsolete)

[2020-07-01 11:54] kawpii commented on #77
@efraespada Oh I thought it is in Java since repo page shows Java as the language. Consider changing it.

Why only [this](https://github.com/StringCare/AndroidLibrary/blob/master/library/src/main/java/com/stringcare/library/SCTextView.java) file in Java?

[2020-07-16 11:49] imannms opened #78 "What do you think about https://pypi.org/project/DeStringCare/ ?"
--------

What do you think about this?

[2020-07-16 12:17] efraespada commented on #78
@imannms I tried to use it with a basic sample but it didn't work for me.

Reading its documentation you can see this:

This value `367E864309B5E7E3E6642483AF380497` is an old obfuscation type of SC.

---------

Could you try using `DeStringCare` as well?

[2020-07-17 10:30] efraespada commented on #78
Reviewing the DeStringCare's issues I found [this one](https://github.com/DainisGorbunovs/DeStringCare/issues/1).

Translated from Google:

[2020-07-17 10:30] #78 closed, assigned to nobody

[2020-07-17 10:36] efraespada commented on #77
@kaushalyap I don't remember it.

You are right, I will change it  😄

[2020-07-17 10:36] #77 closed, assigned to nobody

[2020-07-30 02:17] kawpii commented on #77
@efraespada  you have not still changed the language of the repo to Kotlin

[2020-08-10 07:43] AndroidDeveloperLB commented on #75
I had the exact same issue. I followed all the steps on :
https://github.com/StringCare/AndroidLibrary/wiki/Implementation#library-setup

And the version is '4.0.0'

To fix it, I had to set the config correctly:
https://github.com/StringCare/AndroidLibrary/wiki/Configuration

In my case, it's:

[code]

[2020-08-10 07:53] AndroidDeveloperLB commented on #75
@efraespada
I have the exact same issue. I followed all the steps on :
https://github.com/StringCare/AndroidLibrary/wiki/Implementation#library-setup
https://github.com/StringCare/AndroidLibrary/wiki/Configuration

And the version is '4.0.0'

In my case, the config is something like:

[code]

About log trace, how do I put it?
If you want IDE log (after I closed it) , here:

[idea.zip](https://gith

[2020-08-10 08:49] AndroidDeveloperLB commented on #75
Here, got it on POC sample I've made some time ago, after trying to update it according to the new instructions:

[2020-08-10_11-47-19.zip](https://github.com/StringCare/AndroidLibrary/files/5049805/2020-08-10_11-47-19.zip)

[MyApplication.zip](https://github.com/StringCare/AndroidLibrary/files/5049807/MyApplication.zip)

[idea.zip](https://github.com/StringCare/AndroidLibrary/files/5049811/idea.z

[2020-08-11 07:15] AndroidDeveloperLB commented on #75
Reported here too:
https://issuetracker.google.com/issues/163386799

[2020-08-31 10:19] Panjkrc commented on #75
I have the same issue

[2020-09-01 07:13] efraespada commented on #75
@AndroidDeveloperLB @Panjkrc I confirm you there was an error when the plugin starts the obfuscation. I will release a new version as soon as possible.

Gradle also gave me some problems with some versions. The `v6.4.1` works fine in my Windows.

[2020-09-02 08:42] efraespada commented on #75
@Panjkrc @tommyzat @AndroidDeveloperLB

I just released `v4.0.1` and works fine in the @AndroidDeveloperLB sample

You should remove this from the `app/build.gradle` file:
[code]
This includes duplicated string res ids in the same buildVariant.

Now Gradle `v6.4.1` is needed. `v6.1.1` doesn't work properly when running a basic `gradlew.bat` command execution.

[2020-09-02 08:48] Panjkrc commented on #75
Thanks, I'll try it out and let you know if it works

[2020-09-17 02:56] camauser opened #80 "Build: failed: Index: 1, Size: 1"
I tried to build the Kotlin sample project ([link](https://github.com/StringCare/KotlinSample)), but the following error was thrown during build:

[code]

This problem doesn't seem to be limited to the sample project either. I followed the "Implementation" and "Strings Usage" wiki pages to add StringCare to an existing app and it surfaced the same error.

Any ideas of what might be causing this? L

[2020-09-20 16:41] efraespada commented on #80
@camauser

It is failing when extracts the fingerprint.

What version of Gradle wrapper are you using? OS?

Can you run this command on the root project?
MacOS `sh gradlew signingReport`
Windows `gradlew.bat signingReport`

[2020-09-20 21:18] camauser commented on #80
@efraespada Thanks for your questions, they led me down the correct path and all is working now :-)

I'm using Gradle 6.4.1 on Windows 10. When attempting to run `gradlew.bat signingReport` I received a "Could not reserve enough space for 1572864KB object heap" error from Gradle. My system had adequate free memory, so I limited the JVM to less memory (`org.gradle.jvmargs=-Xmx768m` in gradle.proper

[2020-09-20 21:18] #80 closed, assigned to nobody

[2020-10-05 20:22] cacato86 opened #81 "Execution failed for task ':app:generateDebugAssets'"
Hi!

First of all thanks for your great work, awesome!

I'm trying to use your Lib, I've followed all the instructions but when I'm trying to obfuscate my asset folder I'm getting this error:

<img width="633" alt="Screenshot 2020-10-05 at 22 19 32" src="https://user-images.githubusercontent.com/8777858/95128267-7ae14700-0759-11eb-9161-321e61533363.png">

Can you help me? I've tried a bunch of thi

[2020-10-14 08:46] efraespada commented on #81
@cacato86 thanks to you for using!

It seems there is an error with the fingerprint extraction. What Gradle version do you use in that project?

I think this issue could help you:
https://github.com/StringCare/AndroidLibrary/issues/80

[2020-10-14 08:49] #75 closed, assigned to efraespada

[2020-10-14 08:59] AndroidDeveloperLB commented on #75
Why close? Was it fixed?

[2020-10-25 10:34] efraespada commented on #75
@AndroidDeveloperLB please, mention me, I don't notice you comment anything.

Yes, it was fixed (with your sample), and you didn't answer.

I closed this by inactivity. I can't wait for your lordship to deign to reply after a month or check my last answer with the solution.

[2020-10-25 15:37] AndroidDeveloperLB commented on #75
@efraespada Sorry for that, but I can't work on it anymore.

[2020-10-26 15:45] efraespada commented on #75
@AndroidDeveloperLB no problem. Here to serve 😃

[2021-05-07 11:28] MarkRS-UK opened #82 "JCenter Deprecation"
With the imminent closure of jcenter as a repo, isn't it a problem that this (excellent library :-) ) still uses it?

Android Studio (& therefore presumably Intellij IDEA) now recommend removing jcenter... compilations using this library fail when that happens

[2021-05-08 18:58] efraespada commented on #82
I guess I'll upload the library and plugin to another repository. Any suggestions?

[2021-05-08 19:53] MarkRS-UK commented on #82
It's not something I know much about, only from the build files for my Android app :)
Maven seems to be the place,,, does that even make sense as a sentence?

[2021-06-12 16:42] MarkRS-UK commented on #82
So I notice your Flutter plugin is recommending forking the repo and using that. Is that to sidestep the jCenter closedown?
Would that be the best strategy here too?

[2021-06-21 16:34] efraespada commented on #82
@MarkRS-UK

The flutter plugin works over an explicit C++ file that can (should) be customized. That's why I recommend making a "private" fork before using it.

The original native implementation in Android works over `.so` compiled files.

I plan to move this library and its plugin to a new repository in the next few days. ;)

If you need a quick solution, you can download both `.aar` files (libr

[2021-06-21 17:27] efraespada commented on #82
Migrating to Maven Central started, tickets open:

[https://issues.sonatype.org/browse/OSSRH-70375](https://issues.sonatype.org/browse/OSSRH-70375)

[https://issues.sonatype.org/browse/OSSRH-70376](https://issues.sonatype.org/browse/OSSRH-70376)

[2021-06-23 21:26] efraespada commented on #82
I've published a new version with a new implementation. The documentation is up to date.

[https://github.com/StringCare/AndroidLibrary/wiki/Implementation](https://github.com/StringCare/AndroidLibrary/wiki/Implementation)

Also, the [KotlinSample](https://github.com/StringCare/KotlinSample) project is updated.

Thanks for your patient @MarkRS-UK 😄

[2021-06-23 21:26] #82 closed, assigned to nobody

[2021-08-09 04:58] vanesca88 opened #84 "Wiki update"
Wonderful library!

Just wanted to point out that I tried following the Asset Usage wiki page:
https://github.com/StringCare/AndroidLibrary/wiki/Assets-Usage

And for me, retrieving the JSON objects (encrypted) from assets didn't work.
My app kept crashing.

Later I found that I adding:

aaptOptions {
    noCompress "json"
  }

only worked, if I deleted the app from my device first.
Like a reset.

[2021-08-25 04:27] yenlly commented on #60
Hi @efraespada, I have the same problem and I downloaded v4.2.1 but I have the same error whit v4.2.1
I'm using macOS

[2021-10-06 12:34] efraespada commented on #60
@haitv2910 in which modules you were using Stringcare?

[2022-02-10 17:41] efraespada commented on #84
Wiki updated, thanks! ;)

[2022-02-10 17:41] #84 closed, assigned to nobody

[2022-04-03 17:43] MaablabsTech opened #85 "migrate from AES/ECB/PKCS5Padding to AES/GCM/NoPadding."
Using the AES/ECB/PKCS5Padding is Unsafe and now Google play brings an error below in the prelaunch report. I tried to change it on my Own but the source code misses the sc-native-lib.cpp

Unsafe Cipher Mode
Your app contains a less secure encryption mode. Please see [this Google Help Center article](https://support.google.com/faqs/answer/10046138) for details.

com.stringcare.library.SC->b

[2022-08-04 16:09] Luklek commented on #85
Will this be fixed any time soon maybe?